.main-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    .body-wrapper{
        height: calc(100vh - 85px);
        box-sizing: border-box;
        overflow-y: scroll;
    }
}