
.page-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  transition: all 0.3s ease-out;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  height: 85px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0.5px 0.5px 0 rgb(0 0 0 / 20%);
  &.home-header {
    &.our_page {
      box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.2);
      .nav-right-bars {
        color: #333;
      }
      .nav-right a{
        color: #333;
      }
    }
    box-shadow: none;
    background: rgb(255 255 255 / 90%);

    &.isScroll {
      background: rgb(255 255 255 / 90%);
      // background: #000e42;
      // background-image: url("../../../assets/images/Group 2007.png");
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
      .nav-right-bars {
        color: #234990;
      }
      .nav-right a{
        color: #0c2939;
      }
    }
    .nav-right {
      justify-content: space-around;
      a {
        color: #0c2939;
      }
    }
    .nav-right-bars{
      justify-content: space-around;
      color: #234990;
      
    }
  }
}

.nav-right-bars{
  margin-right:15px;
//  color:#fff;
  font-size:20px; 
  nav a {
    color: #333;
    text-decoration: none;
    // margin-right: 20px;
  }
}

.nav-left {
  // background: #fff;
//  padding: 10px;
  cursor: pointer;  
  .logo {
    height: 45px;
    position: relative;
    top: -5px;
  //  margin-left:-10px;
  }  
}
.nav-right {
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  a {
    padding: 4px;
    margin-left: 14px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
/*  input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}*/
input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 1px solid #0c2939;
  text-align: center;
//  background-color: #eee;
}
input:focus{
  outline: none;
}
/*input:focus,
input:active {
  //border-color: transparent;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 2px solid #1c87c9;
}*/
}
nav {
  width: 100%;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 98%;
}

nav a {
  color: #333;
  text-decoration: none;
  // margin-right: 20px;
}
.menu-container.menu-container-open {
  max-height: 420px;
}
.menu-container {
  background-color: #0c2939;
  width: 100%;
  max-height: 0;
  will-change: max-height;
  -webkit-transition: 400ms cubic-bezier(0.02,0.01,0.47,1);
  transition: 400ms cubic-bezier(0.02,0.01,0.47,1);
  overflow: hidden;
  // max-height: calc(100vh - 85px);
//  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 85px;
  z-index: 1004;
  overflow-y: auto;
  color: #fff;
  /*.border-right {

  }*/
}
.menu-items {
  list-style-type: none;
  padding-left: 30px;
  li {
    padding-bottom: 8px;
    a[href] {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.inner-menu-items {
  list-style-type: none;
  padding-left: 0;
  color: #a2a6b8;
/*  li {
//    padding-bottom: 3px;
  }*/
}
.menu-group{
  color:#f26000;
  padding-top:3px;
  padding-bottom:3px;
}
.contactus-wrapper {
  color: #a2a6b8;
  padding-left: 30px;
  p {
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
}
.menu-items-right-col {
  border-left: 2px solid #707070;
}
.menu-items-right {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  // font-size: 24px;
  // font-weight: 600;
  a {
    font-size: 24px;
  }
 /* a {
  //  font-size: 1.6rem;
  }*/
}
.menu-items-left {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;  
  a {
    font-size: 1.6rem;    
  }
}

h6 {
  color: #f26000;
  font-size: 1rem;
  font-family: "montserrat-regular";
  font-weight: 600;
}
a {
  // color: #234990;
  color: #fff;
  font-size: 1.1rem;
  font-family: "montserrat-regular";
//  font-weight: 800;
}

.top-search-wrapper {
  color: #fff;
  .top-search-field {
    width: 100%;
    position: relative;
    .form-control {
      border-radius: 0;
      border-color: #fff !important;
      box-shadow: none !important;
      padding-right: 30px;
    }
    .mic-icon {
      position: absolute;
      right: 10px;
      top: 2px;
      color: #000;
      opacity: 0.6;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
  .search-btn {
    span {
      cursor: pointer;
      padding: 2px;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .close-btn {
    span {
      cursor: pointer;
      font-size: 1em;
      padding: 2px;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.social-wrapper {
  i {
    font-size: 25px; 
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
  a{
    color:#fff;
}
}
.news-letter-field {  
  width: 100%;
  position: relative;
  display: flex;
  .form-control {
    border-radius: 0;
    border-color: #fff !important;
    box-shadow: none !important;
    padding-right: 30px;
    height: 30px;
    font-size: smaller;
  }
  
  .send-icon {
    flex: 0 0 auto;
    cursor: pointer;
    margin-left: 10px;
    padding: 2px;
    &:hover {
      opacity: 0.7;
    }
  }
}
.d-flex {
  display: flex !important;
  padding-bottom: 0px;
  margin-bottom: -7px;
  font-size: small;
}
.close-btn {
  margin-top: 8px;
  cursor: pointer;
}

