 
.footer-container{
    max-width: 100%;
    background-color: #000d42;
    // padding: 40px 0;
    z-index: 999;
    position: relative;
    text-align: center;
    
}
.footer-bg-container {
    color: #a2a6b8;
    font-family: "montserrat-regular";
    padding: 20px 0px;
    font-weight: 600;
    font-size: 13px;
    h6 {
        color: #EA6B1E;
        font-size: 19px;
        font-family: "montserrat-regular";
        font-weight: 600;
    }
    p{
        margin-bottom: 5px;
    }
    a{
        color: #a2a6b8;
    }
    .privacy_policy{
        cursor: pointer;
        color: #EA6B1E;
    }
}
.logo-wrapper {
    display: inline-block;
    padding: 8px 10px;
    background: #fff;
    img {
        height: 50px;
    }
}
.description {
    font-size: 13px;
    line-height: 22px;
    margin: 20px 0 0 0px;
}
.footer-desc {
    font-size: 13px;
    line-height: 15px;
    padding: 10px 0 0 0;
    margin: 0;
    &.ft-menu {
        color: #ea6b1e;
        font-size: 14px;
        margin: 10px 0;
        padding: 0;
        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }
    }
    .custom {
        text-decoration: underline;
        color: #2680EB;
        cursor: pointer;
        &:hover {
            color: #fff;
        }
    }
}

.social-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    color: #fff;
    i {
      font-size: 25px; 
      margin: 0px 5px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    a{
        color:#fff;
    }
  }

  .policy-terms {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    padding-top: 160px;
//    padding-bottom:40px;
  
    p {
      font-size: 12px; 
      margin-right: 50px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }

.news-letter-field {  
    width: 80%;
    position: relative;
    display: flex;
    margin: 15px auto 0;
    .form-control {
      border-radius: 0;
      border-color: #fff !important;
      box-shadow: none !important;
      padding-right: 30px;
    }
    .send-icon {
      flex: 0 0 auto;
      cursor: pointer;
      margin-left: 12px;
      padding: 3px;
      &:hover {
        opacity: 0.7;
      }
    }
    .p{
        padding-top:10px;
        font-size:smaller;
        font:#fff;
    }
}
::ng-deep .footer-carousel.carousel.slide {
    padding: 0 50px;
    .carousel-indicators {
        display: none;
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        top: 50%;
        margin-top: -20px;
    }
    .picsum-img-wrapper {
        background: #fff;
        text-align: center;
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        .picsum-img-container {
            max-width: 100%;
            max-height: 100%;
        }
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
}
