<div class="container-fluid footer-container">
    <div class="container footer-bg-container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h6>Subscribe for Newsletter</h6>
                <!--
                <div class="news-letter-field">                    
                    <input type="text" class="form-control form-control-sm" placeholder="Email Address"
                        autocomplete="off" />
                    <div class="send-icon">
                        <i class="fas fa-paper-plane"></i>
                    </div>
                </div>
                    -->
                    <div class="news-letter-field">
                        <input type="email" class="form-control" #email1 placeholder="Email Address"
                         />              
                        <div class="send-icon">
                          <i class="fas fa-paper-plane" (click)="emailSubscription(email1.value);"></i>
                        </div>    
                      </div>
                      <p  *ngIf="isSubscribed">Thank you for Subscribing!</p>
                    
                <div class="py-3">
                    <div class="logo-wrapper">
                        <img src="{{logoImage}}" alt="logo">
                    </div>
                </div>
                <p class="description">
                    {{this.aboutUs[0]}}
        <!--            {{footerData.attributes.headerfooter.AboutKavi}}-->
                </p>
                <p class="footer-desc ft-menu" (click)="policyTerms();">Privacy Policy</p>
 <!--               <div class="policy-terms ">
                    <p class="footer-desc ft-menu" (click)="policyTerms();">Privacy Policy</p>
                    <p class="footer-desc ft-menu">Terms & Conditions</p>                
                </div>
            -->
        <!--        <p class="footer-desc">{{footerData.attributes.Copyright}}-->
                    <!--<span class="custom">Privacy Policy</span>-->
         <!--       </p>-->
            </div>
            <div class="col-12 col-md-6">
<!--                <div class="pt-2" *ngIf="images">
                    <ngb-carousel class="footer-carousel">
                        <ng-container *ngFor="let imgItem of images">
                            <ng-template ngbSlide>
                                <div class="picsum-img-wrapper">
                                    <div class="picsum-img-container">
                                        <img [src]="imgItem" alt="" class="carousel-img">
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                    </ngb-carousel>

                </div>-->
                <div class="social-wrapper">                    
                    <a href="https://www.linkedin.com/company/kavi-global/mycompany/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://twitter.com/KG4Analytics" target="_blank"><i class="fab fa-twitter-square"></i></a>
                    <a href="https://www.facebook.com/kaviglobal/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.youtube.com/channel/UCEMWF8WAJuM5k32gkxGopBQ" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>