.footer-container{
    max-width: 100%;
    background-color: #000d42;
    padding: 40px 0;
}
.footer-bg-container {
    color: #a2a6b8;
    font-family: "open-sans-regular";
    h6 {
        color: #EA6B1E;
        font-size: 20px;
        font-family: "montserrat-regular";
        font-weight: 600;
    }
}
.description {
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 10px;
}
.footer-desc {
    font-size: 13px;
    line-height: 15px;
    padding: 10px 0;
    margin: 0;
    &.ft-menu {
        color: #fff;
        font-size: 14px;
        margin: 10px 0;
        padding: 0;
        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }
    }
    .custom {
        text-decoration: underline;
        color: #2680EB;
        cursor: pointer;
        &:hover {
            color: #fff;
        }
    }
}

.social-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    color: #fff;
    i {
      font-size: 25px; 
      margin-right: 10px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }

.news-letter-field {  
    width: 100%;
    position: relative;
    display: flex;
    .form-control {
      border-radius: 0;
      border-color: #fff !important;
      box-shadow: none !important;
      padding-right: 30px;
    }
    .send-icon {
      flex: 0 0 auto;
      cursor: pointer;
      margin-left: 12px;
      padding: 3px;
      &:hover {
        opacity: 0.7;
      }
    }
}
::ng-deep .footer-carousel.carousel.slide {
    padding: 0 50px;
    .carousel-indicators {
        display: none;
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        top: 50%;
        margin-top: -20px;
    }
    .picsum-img-wrapper {
        background: #fff;
        text-align: center;
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        .picsum-img-container {
            max-width: 100%;
            max-height: 100%;
        }
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
}
