<div class="container-fluid footer-container">
    <div class="footer-bg-container">
        <div class="row">
          <div class="col-12 col-md-3 pb-30">
            <div class="footer_aboutus">
              <h6>About Us</h6>
              <p align="justify">{{this.aboutUs[0]}}</p>
              <p align="left"><span class="privacy_policy" (click)="policyTerms();">Privacy Policy</span></p>
            </div>
          </div>
          <div class="col-12 col-md-9">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12 pb-30">
                <div>
                  <h6>Subscribe to Our Newsletter</h6>                
                  <div class="news-letter-field">
                    <input type="email" class="form-control" #email1 placeholder="Email Address"
                     />              
                    <div class="send-icon">
                      <i class="fas fa-paper-plane" (click)="emailSubscription(email1.value);"></i>
                    </div>    
                  </div>
                  <p *ngIf="isSubscribed" >{{this.message}}</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 pb-30">
                <div >   
  <!--                  <a routerLink="{{'/ContactUs'}}"></a>-->
                    <h6>Contact Us</h6>                    
                    <div style="display: inline-block;">
                      <p align="left"><i class="fas fa-phone-alt mr-2"></i>(847)
                          387-6760
                      </p>
                      <p align="left"><i class="fas fa-envelope mr-2" ></i>
                          <a style="font-size:small" href="mailto:contact@kaviglobal.com">contact@kaviglobal.com</a>
                      </p>
                    </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 pb-30">
                <div>
                  <h6>Follow Us</h6>
                  <div class="d-flex align-items-center social-wrapper">                    
                    <a href="https://www.linkedin.com/company/kavi-global/mycompany/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.youtube.com/channel/UCEMWF8WAJuM5k32gkxGopBQ" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a href="https://twitter.com/KG4Analytics" target="_blank"><i class="fab fa-twitter-square"></i></a>
                    <a href="https://www.facebook.com/kaviglobal/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-12 col-xs-12 pb-30">
                <!--
                <div>
                  <a routerLink="{{'/Careers'}}"><h6>Careers</h6></a>
                </div>-->
                <a class="privacy_policy" (click)="makeMenuActive('JoinUs')">  
                  <h6>Careers</h6>
                </a> 
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- <div class="container footer-bg-container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h6>Subscribe for Newsletter</h6>
                <!--
                <div class="news-letter-field">                    
                    <input type="text" class="form-control form-control-sm" placeholder="Email Address"
                        autocomplete="off" />
                    <div class="send-icon">
                        <i class="fas fa-paper-plane"></i>
                    </div>
                </div>
                    --
                    <div class="news-letter-field">
                        <input type="email" class="form-control" #email1 placeholder="Email Address"
                         />              
                        <div class="send-icon">
                          <i class="fas fa-paper-plane" (click)="emailSubscription(email1.value);"></i>
                        </div>    
                      </div>
                      <p  *ngIf="isSubscribed">Thank you for Subscribing!</p>
                    
                <div class="py-3">
                    <div class="logo-wrapper">
                        <img src="{{logoImage}}" alt="logo">
                    </div>
                </div>
                <p class="description">
                    {{this.aboutUs[0]}}
        <!--            {{footerData.attributes.headerfooter.AboutKavi}}--
                </p>
                <p class="footer-desc ft-menu" (click)="policyTerms();">Privacy Policy</p>
 <!--               <div class="policy-terms ">
                    <p class="footer-desc ft-menu" (click)="policyTerms();">Privacy Policy</p>
                    <p class="footer-desc ft-menu">Terms & Conditions</p>                
                </div>
            -->
        <!--        <p class="footer-desc">{{footerData.attributes.Copyright}}-->
                    <!--<span class="custom">Privacy Policy</span>-->
         <!--       </p>--
            </div>
            <div class="col-12 col-md-6">
<!--                <div class="pt-2" *ngIf="images">
                    <ngb-carousel class="footer-carousel">
                        <ng-container *ngFor="let imgItem of images">
                            <ng-template ngbSlide>
                                <div class="picsum-img-wrapper">
                                    <div class="picsum-img-container">
                                        <img [src]="imgItem" alt="" class="carousel-img">
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                    </ngb-carousel>

                </div>--
                <div class="social-wrapper">                    
                    <a href="https://www.linkedin.com/company/kavi-global/mycompany/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://twitter.com/KG4Analytics" target="_blank"><i class="fab fa-twitter-square"></i></a>
                    <a href="https://www.facebook.com/kaviglobal/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.youtube.com/channel/UCEMWF8WAJuM5k32gkxGopBQ" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

        </div>
    </div> -->
</div>