<div *ngIf="!dataLoad">
    <app-page-loader></app-page-loader>
</div>
<div class="cont" *ngIf="dataLoad">
    <div class="container-fluid m-0 p-0">
        <div class="bg-container" [ngStyle]="{'background-image': 'url(' + backgroundImg + ')'}">
            <div class="row m-0 p-0">
                <div class="col-6 ml-4">
                    <h3><span>{{this.homeData.attributes.HeroHeader[0].Title}}</span>
                        {{this.homeData.attributes.HeroHeader[0].Description}}</h3>
                </div>
                <div class="col-6 partner-img ml-4">
                    <img src="{{this.homeData.attributes.HeroHeader[1].SliderMedia.Media.data.attributes.url}}"
                        alt="logo" class="">
                    <img src="{{this.homeData.attributes.HeroHeader[2].SliderMedia.Media.data.attributes.url}}"
                        alt="logo" class="">
                    <img src="{{this.homeData.attributes.HeroHeader[3].SliderMedia.Media.data.attributes.url}}"
                        alt="logo" class="">
                    <img src="{{this.homeData.attributes.HeroHeader[4].SliderMedia.Media.data.attributes.url}}"
                        alt="logo" class="">
                </div>
            </div>
        </div>
        <!-- <app-footer></app-footer> -->
    </div>
    <div class="container-fluid m-0 p-0 mt-4">
        <div class="row m-0 p-0">
            <div class="col-12 description-section">
                <h3 class="mb-2">{{homeData.attributes.Achievements.Title}}</h3>
                <p>{{homeData.attributes.Achievements.Paragraph}}</p>
            </div>
        </div>
        <div class="cost-stat">
            <div class="row m-0 p-0 cost-section  mt-2">
                <div class="col-6 col-md-4 cost-card" style="border-right: 1px solid #000;">
                    <h1>{{homeData.attributes.AchievementMetrics[0].Title}}</h1>
                    <p>{{homeData.attributes.AchievementMetrics[0].Subtitle}}</p>
                </div>
                <div class="col-6 col-md-4 cost-card" style="border-right: 1px solid #000;">
                    <h1>{{homeData.attributes.AchievementMetrics[1].Title}}</h1>
                    <p>{{homeData.attributes.AchievementMetrics[1].Subtitle}}</p>
                </div>
                <div class="col-6 col-md-4 cost-card">
                    <h1>{{homeData.attributes.AchievementMetrics[2].Title}}</h1>
                    <p style="line-height: 1.5;width: 90%;padding-left: 10px !important;margin-top: 10px;">
                        {{homeData.attributes.AchievementMetrics[2].Subtitle}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid analytics-section m-0 p-0 mt-3">
        <h1 class="pt-4">{{homeData.attributes.Analytics.Title}}</h1>
        <div class="row m-0 p-0 analytics-content">
            <div class="col-12 col-md-7 pb-5 mt-2">
                <h5>
                    {{homeData.attributes.Analytics.PreviewText}}
                </h5>
                <h5 style="font-size: 15px;">{{homeData.attributes.Analytics.LinkLabel}}<i style="font-size: 10px;"
                        class="fas fa-arrow-right"></i></h5>
                <!-- <a style="font-size: 15px;color:white;text-align: left;">{{homeData.attributes.Analytics.LinkLabel}}<i style="font-size: 10px;" class="fas fa-arrow-right"></i></a> -->
            </div>
            <div class="col-12 col-md-5 pb-5 mt-3">
                <div class="bg-white" style="width: 80%;height: 100%;margin: 10px;text-align: center;">
                    <img src="{{homeData.attributes.Analytics.OfferingMedia.Media.data.attributes.url}}" alt="image"
                        class="analytics-img" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid clients-section m-0 p-0 mt-4">
        <h3>{{homeData.attributes.OurClientsTitle}}</h3>
        <div class="row m-0 p-0">
            <div class="col-12 client-content">
                <p>
                    {{homeData.attributes.OurClientsParagraph}}
                </p>
            </div>
            <div class="client-card-container mt-3">
                <div class="client-card shadow-sm">
                    <img src="{{homeData.attributes.OurClientDetail[0].OurClientIcon.Media.data.attributes.url}}"
                        alt="image" />
                    <p>{{homeData.attributes.OurClientDetail[0].OurClientDescription.Title}}</p>
                </div>
                <div class="client-card shadow-sm">
                    <img src="{{homeData.attributes.OurClientDetail[1].OurClientIcon.Media.data.attributes.url}}"
                        alt="image" />
                    <p>{{homeData.attributes.OurClientDetail[1].OurClientDescription.Title}}</p>
                </div>
                <div class="client-card shadow-sm">
                    <img src="{{homeData.attributes.OurClientDetail[2].OurClientIcon.Media.data.attributes.url}}"
                        alt="image" />
                    <p>{{homeData.attributes.OurClientDetail[2].OurClientDescription.Title}}</p>
                </div>
                <div class="client-card shadow-sm">
                    <img src="{{homeData.attributes.OurClientDetail[3].OurClientIcon.Media.data.attributes.url}}"
                        alt="image" />
                    <p>{{homeData.attributes.OurClientDetail[3].OurClientDescription.Title}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid clients-carousel m-0 p-0 mt-4">
        <h3>{{homeData.attributes.OurClientImagesTitle}}</h3>
        <div class="row m-0 p-0">
            <div class="col-12">
                <ngb-carousel *ngIf="clientImages.length">
                    <ng-template ngbSlide *ngFor="let item of clientImages;let i = index">
                        <span class="wrapper" *ngFor="let subItem of item ">
                            <img [src]="subItem.SliderMedia.Media.data.attributes.url" alt="Random first slide" style="background-color: #FFFFFF;margin-right: 20px; height: 100px;
                                width: 14%;padding: 10px;text-align: center;" />
                        </span>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
    <div class="container-fluid blog-section m-0 p-0 mt-4">
        <h3>{{this.homeData.attributes.BlogsTitle}}</h3>
        <div class="row m-0 p-0">
            <div class="col-6 col-md-5 mt-4 blog-1">
                <app-card-layout
                    [image]="homepageData.data.attributes.Blogs.data[0].attributes.Media.data[0].attributes.url"
                    [title]="homepageData.data.attributes.Blogs.data[0].attributes.Title"
                    [description]="homepageData.data.attributes.Blogs.data[0].attributes.Content"
                    [hyperlinkText]="hyperlinkText" [type]="'top-image-layout'"></app-card-layout>
            </div>
            <div class="col-6 col-md-6 mt-4 blog-2">
                <div>
                    <app-card-layout
                        [image]="homepageData.data.attributes.Blogs.data[1].attributes.Media.data[0].attributes.url"
                        [title]="homepageData.data.attributes.Blogs.data[1].attributes.Title"
                        [description]="homepageData.data.attributes.Blogs.data[1].attributes.Content"
                        [hyperlinkText]="hyperlinkText" [type]="'left-image-layout'"></app-card-layout>
                </div>
                <div class="mt-3">
                    <app-card-layout
                        [image]="homepageData.data.attributes.Blogs.data[2].attributes.Media.data[0].attributes.url"
                        [title]="homepageData.data.attributes.Blogs.data[2].attributes.Title"
                        [description]="homepageData.data.attributes.Blogs.data[2].attributes.Content"
                        [hyperlinkText]="hyperlinkText" [type]="'left-image-layout'"></app-card-layout>
                </div>
                <div class="read-more-section mt-2">
                    <h3>Read more on our Blogs <i class="fas fa-arrow-right arrow-icon"></i></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid news-cont m-0 p-0 mt-4">
        <h3 class="section-heading">News</h3>
        <div class="row m-0 p-0 news-section">
            <div class="col-6 col-md-4 test mt-2 m-0 p-0">
                <app-card-layout
                    [image]="homepageData.data.attributes.News.data[0].attributes.Media.data[0].attributes.url"
                    [title]="homepageData.data.attributes.News.data[0].attributes.Title"
                    [description]="homepageData.data.attributes.News.data[0].attributes.Content"
                    [hyperlinkText]="hyperlinkText" [type]="'news-card-layout'"></app-card-layout>
            </div>
            <div class="col-6 col-md-4 test mt-2">
                <app-card-layout
                    [image]="homepageData.data.attributes.News.data[1].attributes.Media.data[0].attributes.url"
                    [title]="homepageData.data.attributes.News.data[1].attributes.Title"
                    [description]="homepageData.data.attributes.News.data[1].attributes.Content"
                    [hyperlinkText]="hyperlinkText" [type]="'news-card-layout'"></app-card-layout>
            </div>
            <div class="col-6 col-md-4 test mt-2">
                <app-card-layout
                    [image]="homepageData.data.attributes.News.data[2].attributes.Media.data[0].attributes.url"
                    [title]="homepageData.data.attributes.News.data[2].attributes.Title"
                    [description]="homepageData.data.attributes.News.data[2].attributes.Content"
                    [hyperlinkText]="hyperlinkText" [type]="'news-card-layout'"></app-card-layout>
            </div>
            <div class="col-11 read-more-section mt-3" style="margin-left: 40px;">
                <h3>Read more on our Blogs <i class="fas fa-arrow-right arrow-icon"></i></h3>
            </div>
        </div>
    </div>
    <div class="container-fluid m-0 p-0 mt-4">
        <div class="row m-0 p-0">
            <div class="col-12 news-letter-section"
                style="background-color: #000d42;height: 80px;display: flex;align-items: center;justify-content: space-between;">
                <h3>Subscribe for Newsletter</h3>
                <div>
                    <input type="email" name="email" placeholder="Email Address" class="m-0 p-0" />
                    <i class="fas fa-paper-plane" style="color: white;"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid m-0 p-0 mt-4 mb-3">
        <h3 class="section-heading">{{this.homeData.attributes.SuccessStoryTitle}}</h3>
        <div class="row m-0 p-0" style="display: flex;align-items: center;justify-content: center;">
            <div class="col-8 mt-3">
                <app-card-layout
                    [image]="homepageData.data.attributes.SuccessStory.data[0].attributes.Media.data[0].attributes.url"
                    [title]="homepageData.data.attributes.SuccessStory.data[0].attributes.Title"
                    [description]="homepageData.data.attributes.SuccessStory.data[0].attributes.Content"
                    [hyperlinkText]="hyperlinkText" [type]="'success-card-layout'"></app-card-layout>
            </div> 
            <div class="col-8 mt-4">
                <app-card-layout
                    [image]="homepageData.data.attributes.SuccessStory.data[1].attributes.Media.data[0].attributes.url"
                    [title]="homepageData.data.attributes.SuccessStory.data[1].attributes.Title"
                    [description]="homepageData.data.attributes.SuccessStory.data[1].attributes.Content"
                    [hyperlinkText]="hyperlinkText" [type]="'success-right-card-layout'"></app-card-layout>
            </div>
        </div> 
    </div>
    <div style="background-color: #000D42;height: 2vh;">
    </div>
    <div style="height: 500px;margin-top: 48px;">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
            (mapClick)="mapClicked($event)">
            <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label!, i)"
                [latitude]="m.lat" [longitude]="m.lng" [label]="m.label!" [markerDraggable]="m.draggable"
                (dragEnd)="markerDragEnd(m, $event)">
                <agm-info-window>
                    <strong>InfoWindow content</strong>
                </agm-info-window>
            </agm-marker>
        </agm-map>
        <div style="background-color: #000D42;width: 29%;height: 190px;position: relative;border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;top: -451px;align-items: center;justify-content: center;display: flex;">
            <div style="text-align: center;color: #FFFF; width: 60%;">
                <h3 style="color: #EA6B1E;padding-top: 20px;font-weight: 700px;">Contact Us</h3>
                <p><i class="fas fa-map-marker-alt mr-2"></i>{{homepageData.data.attributes.ContactUs.Address}}</p>
                <p><i class="fas fa-phone-alt mr-2"></i>{{homepageData.data.attributes.ContactUs.PhoneNumber}}</p>
                <p><i class="fas fa-envelope mr-2"></i>{{homepageData.data.attributes.ContactUs.Email}}</p>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
<!-- <div class="container-fluid p-0 m-0" *ngIf="dataLoad">
    <div class="bg-container p-3" [ngStyle]="{'background-image': 'url(' + backgroundImg + ')'}">
        <div class="row">
            <div class=" col-6">
                <h3><span>{{this.homeData.attributes.HeroHeader[0].Title}}</span>
                    {{this.homeData.attributes.HeroHeader[0].Description}}</h3>
            </div>
            <div class="col-6 partner-img ml-4">
                <img src="{{this.homeData.attributes.HeroHeader[1].SliderMedia.Media.data.attributes.url}}" alt="logo"
                    class="">
                <img src="{{this.homeData.attributes.HeroHeader[2].SliderMedia.Media.data.attributes.url}}" alt="logo"
                    class="">
                <img src="{{this.homeData.attributes.HeroHeader[3].SliderMedia.Media.data.attributes.url}}" alt="logo"
                    class="">
                <img src="{{this.homeData.attributes.HeroHeader[4].SliderMedia.Media.data.attributes.url}}" alt="logo"
                    class="">
            </div>
        </div>
        <!-- <div class="ml-4">
            <h3><span>{{this.homeData.attributes.HeroHeader[0].Title}}</span>
                {{this.homeData.attributes.HeroHeader[0].Description}}</h3>
            <div class="partner-img">
                <img src="{{this.homeData.attributes.HeroHeader[1].SliderMedia.Media.data.attributes.url}}" alt="logo"
                    class="">
                <img src="{{this.homeData.attributes.HeroHeader[2].SliderMedia.Media.data.attributes.url}}" alt="logo"
                    class="">
                <img src="{{this.homeData.attributes.HeroHeader[3].SliderMedia.Media.data.attributes.url}}" alt="logo"
                    class="">
                <img src="{{this.homeData.attributes.HeroHeader[4].SliderMedia.Media.data.attributes.url}}" alt="logo"
                    class="">
            </div>
        </div> -->
<!-- </div> -->
<!-- <div class="row mt-4">
        <div class="col-12 description-section">
            <h3 class="mb-2">{{homeData.attributes.Achievements.Title}}</h3>
            <p>{{homeData.attributes.Achievements.Paragraph}}</p> -->
<!-- <p>We have been serving clients across a wide range of verticals including <span> transportation, healthcare,
                            manufacturing,higher education, digital marketing,</span> and more and have help them achieve</p> -->
<!-- <div class="cost-section mt-2">
                <div class="cost-card" style="border-right: 1px solid #000;">
                    <h1>{{homeData.attributes.AchievementMetrics[0].Title}}</h1>
                    <p>{{homeData.attributes.AchievementMetrics[0].Subtitle}}</p>
                </div>
                <div class="cost-card" style="border-right: 1px solid #000;">
                    <h1>{{homeData.attributes.AchievementMetrics[1].Title}}</h1>
                    <p>{{homeData.attributes.AchievementMetrics[1].Subtitle}}</p>
                </div>
                <div class="cost-card">
                    <h1 style="line-height: 1.5;width: 85%;">{{homeData.attributes.AchievementMetrics[2].Title}}</h1>
                    <p>{{homeData.attributes.AchievementMetrics[2].Subtitle}}</p>
                </div>
            </div> -->
<!-- </div>
    </div> -->
<!-- <div class="description-section">
        <h3>{{homeData.attributes.Achievements.Title}}</h3>
        <p>{{homeData.attributes.Achievements.Paragraph}}</p>
        <!-- <p>We have been serving clients across a wide range of verticals including <span> transportation, healthcare,
                        manufacturing,higher education, digital marketing,</span> and more and have help them achieve</p> -->
<!-- <div class="cost-section mt-2">
            <div class="cost-card" style="border-right: 1px solid #000;">
                <h1>{{homeData.attributes.AchievementMetrics[0].Title}}</h1>
                <p>{{homeData.attributes.AchievementMetrics[0].Subtitle}}</p>
            </div>
            <div class="cost-card" style="border-right: 1px solid #000;">
                <h1>{{homeData.attributes.AchievementMetrics[1].Title}}</h1>
                <p>{{homeData.attributes.AchievementMetrics[1].Subtitle}}</p>
            </div>
            <div class="cost-card">
                <h1 style="line-height: 1.5;width: 85%;">{{homeData.attributes.AchievementMetrics[2].Title}}</h1>
                <p>{{homeData.attributes.AchievementMetrics[2].Subtitle}}</p>
            </div>
        </div>
    </div> -->
<!-- <div class="analytics-section mt-4 p-4">
        <h1>{{homeData.attributes.Analytics.Title}}</h1>
        <div class="analytics-section-body mt-3">
            <div>
                <h5>
                    {{homeData.attributes.Analytics.PreviewText}}
                </h5>
                <!-- <h5>Our advanced <span>machine learning & data science</span> capabilities enable you to do more with
                            data analytics.
                        </h5> -->
<!-- <a>{{homeData.attributes.Analytics.LinkLabel}}</a>
            </div>
            <div class="bg-white" style="width: 600px;height: 200px;">
                <img src="{{homeData.attributes.Analytics.OfferingMedia.Media.data.attributes.url}}" alt="image"
                    class="analytics-img" />
            </div>
        </div>
    </div> -->
<!-- <div class="clients-section mt-5">
        <h3>{{homeData.attributes.OurClientsTitle}}</h3>
        <p>
            {{homeData.attributes.OurClientsParagraph}}
        </p>
        <!-- <p>…the ability rivaling that of any of the big5 consulting firms, combined with the agility of a boutique
                    player to provide cutting-edge analytics.<br>
                    <span>
                        Find below the differentiators that give us a proven competitive
                        edge in our category:
                    </span>
                </p> -->
<!-- <h5>Net Savings Minimum <span>30% over competition</span></h5> -->
<!-- <div class="client-card-container mt-3">
            <div class="client-card shadow-sm">
                <img src="{{homeData.attributes.OurClientDetail[0].OurClientIcon.Media.data.attributes.url}}"
                    alt="image" />
                <p>{{homeData.attributes.OurClientDetail[0].OurClientDescription.Title}}</p>
            </div>
            <div class="client-card shadow-sm">
                <img src="{{homeData.attributes.OurClientDetail[1].OurClientIcon.Media.data.attributes.url}}"
                    alt="image" />
                <p>{{homeData.attributes.OurClientDetail[1].OurClientDescription.Title}}</p>
            </div>
            <div class="client-card shadow-sm">
                <img src="{{homeData.attributes.OurClientDetail[2].OurClientIcon.Media.data.attributes.url}}"
                    alt="image" />
                <p>{{homeData.attributes.OurClientDetail[2].OurClientDescription.Title}}</p>
            </div>
            <div class="client-card shadow-sm">
                <img src="{{homeData.attributes.OurClientDetail[3].OurClientIcon.Media.data.attributes.url}}"
                    alt="image" />
                <p>{{homeData.attributes.OurClientDetail[3].OurClientDescription.Title}}</p>
            </div>
        </div>
    </div>  -->
<!-- <div class="clients-carousel">
        <h3>{{homeData.attributes.OurClientImagesTitle}}</h3>
        <div>
            <ngb-carousel *ngIf="clientImages.length">
                <ng-template ngbSlide *ngFor="let item of clientImages;let i = index">
                    <span class="wrapper" *ngFor="let subItem of item ">
                        <img [src]="subItem.SliderMedia.Media.data.attributes.url" alt="Random first slide" style="background-color: #FFFFFF;margin-right: 20px; height: 100px;
                            width: 14%;padding: 10px;text-align: center;" />
                    </span>
                </ng-template>
            </ngb-carousel>
        </div>
    </div> -->
<!-- <div class="container-fluid blog-section mt-5">
        <h3>{{this.homeData.attributes.BlogsTitle}}</h3>
        <div class="row">
            <div class="col-md-5 mt-4 blog-1">
                <app-card-layout
                    [image]="homepageData.data.attributes.Blogs.data[0].attributes.Media.data[0].attributes.url"
                    [title]="homepageData.data.attributes.Blogs.data[0].attributes.Title"
                    [description]="homepageData.data.attributes.Blogs.data[0].attributes.Content"
                    [hyperlinkText]="hyperlinkText" [type]="'top-image-layout'"></app-card-layout>
            </div>
            <div class="col-md-6 mt-4 blog-2">
                <div>
                    <app-card-layout
                        [image]="homepageData.data.attributes.Blogs.data[0].attributes.Media.data[0].attributes.url"
                        [title]="homepageData.data.attributes.Blogs.data[0].attributes.Title"
                        [description]="homepageData.data.attributes.Blogs.data[0].attributes.Content"
                        [hyperlinkText]="hyperlinkText" [type]="'left-image-layout'"></app-card-layout>
                </div>
                <div class="mt-3">
                    <app-card-layout
                        [image]="homepageData.data.attributes.Blogs.data[0].attributes.Media.data[0].attributes.url"
                        [title]="homepageData.data.attributes.Blogs.data[0].attributes.Title"
                        [description]="homepageData.data.attributes.Blogs.data[0].attributes.Content"
                        [hyperlinkText]="hyperlinkText" [type]="'left-image-layout'"></app-card-layout>
                </div>
                <div class="read-more-section mt-2">
                    <h3>Read more on our Blogs <i class="fas fa-arrow-right arrow-icon"></i></h3>
                </div>
            </div>
        </div>
        <!-- <div class="row">
                    <div class="col-md-5 mt-4 blog-1">
                        <img src="assets/Images/blog_1.png" alt="image" />
                        <h3>Enterprise Data Access: Democratize to Monetize</h3>
                        <p>Enterprise Data Platform: Every CDO’s Priority Data Fabric. Digital Thread. Data Mesh. Golden Record
                            of Truth. Whatever you call it, a harmonized and usable enterprise data layer is an essential facet
                            of digital transformation.</p>
                        <a href="#">Read More <i class="fas fa-arrow-right arrow-icon"></i></a>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="blog-2">
                            <img src="assets/Images/blog_3.png" alt="image" />
                            <div class="ml-3 mt-0 pt-0">
                                <h3>Intelligent Applications Power Cross-Industry Digital Transformation</h3>
                                <p>What is an Intelligent Application? An intelligent application is one that is powered by
                                    analytics
                                    and embeds analytical insights within the Human-in-the-Loop decision support workflow.</p>
                                <a href="#">Read More <i class="fas fa-arrow-right arrow-icon"></i></a>
                            </div>
                        </div>
                        <div class="blog-2 mt-3">
                            <img src="assets/Images/blog_3.png" alt="image" />
                            <div class="ml-3 mt-0 pt-0">
                                <h3>Intelligent Augmented Reality Apps Creates Business Value Cross Industry</h3>
                                <p>Augmented Reality Creates Business Values Recent technological advancements have made it
                                    possible to seamlessly overlay computer-generated virtual images onto real-world objects.
                                </p>
                                <a href="#" class="mt-0 pt-0">Read More <i class="fas fa-arrow-right arrow-icon"></i></a>
                            </div>
                        </div>
                        <div class="read-more-section mt-2">
                            <h3>Read more on our Blogs <i class="fas fa-arrow-right arrow-icon"></i></h3>
                        </div>
                    </div>
                </div> -->
<!-- </div> -->
<!-- <div class="container-fluid news-section mt-5">
        <h3 class="section-heading">News</h3>
        <div class="row">
            <div class="col-12 col-md-4 mt-4 test">
                <div class="">
                    <app-card-layout
                        [image]="homepageData.data.attributes.News.data[0].attributes.Media.data[0].attributes.url"
                        [title]="homepageData.data.attributes.News.data[0].attributes.Title"
                        [description]="homepageData.data.attributes.News.data[0].attributes.Content"
                        [hyperlinkText]="hyperlinkText" [type]="'news-card-layout'"></app-card-layout>
                </div>

                <!-- <div class="bg-white shadow-sm" style="width: 220px;height: 150px;">
                            <img src="assets/Images/news_1.png" alt="image" style="width: 220px;height: 150px;" />
                        </div>
                        <h3>Kavi Global Wins 2022 Most Comprehensive Data and Analytics Company</h3>
                        <p>Augmented Reality Creates Business Values Recent technological advancements have made it possible
                            to seamlessly overlay computer-generated virtual images onto real-world objects.</p>
                        <a href="#">Read More <i class="fas fa-arrow-right arrow-icon"></i></a> -->
<!-- </div> -->
<!-- <div class="col-12 col-md-4 mt-4 test">
                <app-card-layout
                    [image]="homepageData.data.attributes.News.data[1].attributes.Media.data[0].attributes.url"
                    [title]="homepageData.data.attributes.News.data[1].attributes.Title"
                    [description]="homepageData.data.attributes.News.data[1].attributes.Content"
                    [hyperlinkText]="hyperlinkText" [type]="'news-card-layout'"></app-card-layout> -->
<!-- <div class="bg-white shadow-sm" style="width: 220px;height: 150px;padding-top: 30px;">
                            <img src="assets/Images/news_2.png" alt="image" class="" />
                        </div>
        
                        <h3>Kavi Global Wins 2022 Most Comprehensive Data and Analytics Company</h3>
                        <p>Augmented Reality Creates Business Values Recent technological advancements have made it possible
                            to seamlessly overlay computer-generated virtual images onto real-world objects.</p>
                        <a href="#">Read More <i class="fas fa-arrow-right arrow-icon"></i></a> -->
<!-- </div> -->
<!-- <div class="col-12 col-md-4 mt-4 test"> -->
<!-- <app-card-layout
                    [image]="homepageData.data.attributes.News.data[2].attributes.Media.data[0].attributes.url"
                    [title]="homepageData.data.attributes.News.data[2].attributes.Title"
                    [description]="homepageData.data.attributes.News.data[2].attributes.Content"
                    [hyperlinkText]="hyperlinkText" [type]="'news-card-layout'"></app-card-layout> -->
<!-- <div class="bg-white shadow-sm" style="width: 220px;height: 150px;padding-top: 30px;">
                            <img src="assets/Images/news_3.png" alt="image" class="" />
                        </div>
                        <h3>Kavi Global Wins 2022 Most Comprehensive Data and Analytics Company</h3>
                        <p>Augmented Reality Creates Business Values Recent technological advancements have made it possible
                            to seamlessly overlay computer-generated virtual images onto real-world objects.</p>
                        <a href="#">Read More <i class="fas fa-arrow-right arrow-icon"></i></a> -->
<!-- </div> -->
<!-- <div class="col-12 col-md-11 read-more-section mt-3" style="width: 50%;margin-left: 50px;">
                <h3>Read more on our Blogs <i class="fas fa-arrow-right arrow-icon"></i></h3>
            </div> -->
<!-- </div>
    </div> -->
<!-- <div class="" style="background-color: #000d42;">
        <div class="news-letter-section p-5 mt-5 ml-5" style="width: 90%;text-align: center !important;">
            <h3>Subscribe for Newsletter</h3>
            <div>
                <input type="email" name="email" placeholder="Email Address" class="m-0 p-0" />
                <i class="fas fa-paper-plane" style="color: white;"></i>
            </div>
        </div>
    </div> -->
<!-- <div class="container-fluid mt-5">
    <h3 class="section-heading">{{this.homeData.attributes.SuccessStoryTitle}}</h3>
    <div class="row"> -->
        <!-- <div class="col-12 mt-5">
            <app-card-layout
                [image]="homepageData.data.attributes.SuccessStory.data[0].attributes.Media.data[0].attributes.url"
                [title]="homepageData.data.attributes.SuccessStory.data[0].attributes.Title"
                [description]="homepageData.data.attributes.SuccessStory.data[0].attributes.Content"
                [hyperlinkText]="hyperlinkText" [type]="'success-card-layout'"></app-card-layout>
        </div> -->
        <!-- <div class="col-12 mt-4 success-stories-section">
                        <img [src]="homepageData.data.attributes.SuccessStory.data[0].attributes.Media.data[0].attributes.url"
                            alt="image" />
                        <div class="ml-5 mt-3 pt-0">
                            <h3>Wheel Remaining Useful Life (RUL) Analytics</h3>
                            <p>Calculated decay rates for different locomotive types. Performed a benefit-risk analysis on
                                shifting policy limits. Derived a detailed decision diagram that helps shop manage replacement &
                                truing events.
                            </p>
                            <a href="#" class="mt-0 pt-0">Read More <i class="fas fa-arrow-right arrow-icon"></i></a>
                        </div>
                    </div> -->
        <!-- <div class="col-12 mt-4 success-stories-section">
            <div class="col-12 mt-4">
                <app-card-layout
                    [image]="homepageData.data.attributes.SuccessStory.data[1].attributes.Media.data[0].attributes.url"
                    [title]="homepageData.data.attributes.SuccessStory.data[1].attributes.Title"
                    [description]="homepageData.data.attributes.SuccessStory.data[1].attributes.Content"
                    [hyperlinkText]="hyperlinkText" [type]="'success-right-card-layout'"></app-card-layout>
            </div> -->
            <!-- <div class="mr-2 mt-3 pt-0">
                            <h3>IIoT Preventative Maintenance Platform</h3>
                            <p>A flexible, scalable and comprehensive Distributed Sensor Solutions Platform that can be deployed
                                either on the cloud or on premise. The platform provides streaming data ingestion and analytics
                                on critical assets to ensure high standards of safety, availability and cost optimization.
                            </p>
                            <a href="#" class="mt-0 pt-0">Read More <i class="fas fa-arrow-right arrow-icon"></i></a>
                        </div>
                        <img [src]="homepageData.data.attributes.SuccessStory.data[1].attributes.Media.data[0].attributes.url"
                            alt="image" /> -->
            <!-- </div> -->
            <!-- <div class="col-6 col-md-4 read-more-section mt-3" style=" margin-left: 180px;">
                <h3>Read more on our Success Stories <i class="fas fa-arrow-right arrow-icon"></i></h3>
            </div>

        </div>
    </div> -->
            <!-- <div style="background-color: #000D42;height: 2vh;">
    </div>
    <div style="height: 500px;margin-top: 48px;">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
            (mapClick)="mapClicked($event)">
            <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label!, i)"
                [latitude]="m.lat" [longitude]="m.lng" [label]="m.label!" [markerDraggable]="m.draggable"
                (dragEnd)="markerDragEnd(m, $event)">
                <agm-info-window>
                    <strong>InfoWindow content</strong>
                </agm-info-window>
            </agm-marker>
        </agm-map>
        <div style="background-color: #000D42;width: 29%;height: 190px;position: relative;border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;top: -451px;align-items: center;justify-content: center;display: flex;">
            <div style="text-align: center;color: #FFFF; width: 60%;">
                <h3 style="color: #EA6B1E;padding-top: 20px;font-weight: 700px;">Contact Us</h3>
                <p><i class="fas fa-map-marker-alt mr-2"></i>{{homepageData.data.attributes.ContactUs.Address}}</p>
                <p><i class="fas fa-phone-alt mr-2"></i>{{homepageData.data.attributes.ContactUs.PhoneNumber}}</p>
                <p><i class="fas fa-envelope mr-2"></i>{{homepageData.data.attributes.ContactUs.Email}}</p>
            </div>
        </div>
    </div> -->
            <!-- <app-footer></app-footer>
</div>  -->