<div *ngIf="type == 'top-image-layout'">
    <div class="top-layout-container">
        <div>
            <img src="{{image}}" alt="image" />
        </div>
        <div>
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <a href="#">{{hyperlinkText}} <i class="fas fa-arrow-right arrow-icon"></i></a>
        </div>
    </div>
</div>
<div *ngIf="type == 'left-image-layout'">
    <div class="left-layout-container">
        <div>
            <img src="{{image}}" alt="image" />
        </div>
        <div class="ml-3">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <a href="#">{{hyperlinkText}} <i class="fas fa-arrow-right arrow-icon"></i></a>
        </div>
    </div>
</div>
<div *ngIf="type == 'news-card-layout'">
    <div class="card-container">
        <!-- style="width: 220px;height: 150px;text-align: center;" -->
        <div class="bg-white shadow-sm card">
            <img src="{{image}}" alt="image" />
        </div>
        <div>
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <a href="#">{{hyperlinkText}} <i class="fas fa-arrow-right arrow-icon"></i></a>
        </div>
    </div>
</div>
<div *ngIf="type == 'success-card-layout'">
    <div class="success-card-container">
            <img src="{{image}}" alt="image" />
        <div class="ml-4">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <a href="#">{{hyperlinkText}} <i class="fas fa-arrow-right arrow-icon"></i></a>
        </div>
    </div>
</div>
<div *ngIf="type == 'success-right-card-layout'">
    <div class="success-card-container">
        <div class="mr-4">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <a href="#">{{hyperlinkText}} <i class="fas fa-arrow-right arrow-icon"></i></a>
        </div>
        <img src="{{image}}" alt="image" />
    </div>
</div>