img {
 max-width: 100%;
}
.image-wrapper {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  // height: 100%;
}
h3 {
  font-family: "montserrat-regular";
  color: #f26000;
  font-size: 1.1rem;
  font-weight: 900;
  padding-top: 5px;
  text-align: start;
}
p {
  font-size: 1.1rem;
  text-align: start;
  color: #000000;
  font-family: "montserrat-regular"; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical; 
}
a {
  font-family: "montserrat-regular";
  color: #234990;
  font-size: 1.1rem;
  text-align: start;
  font-weight: bold;
  padding-top: 0;
  line-height: 0;
}

.left-layout-container {
  h3 {
    padding-top: 0px;
  }
}

.read_more_block{
  .read_hight {
      height: 210px;
  }
  h3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .fa-arrow-right {
    position: relative;
    top: 1px;
  }
}
.news-image-container {
  padding: 15px 15px 0px;
}
.new-content{
  a{
    color: #f26000;
  }
  h3{
    color: #234990;
    margin-bottom: 20px;
    line-height: 31px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  //  height: 60px;
  }
}

.recommendation_block.news-card-container {  
    background-image: linear-gradient(180deg, rgba(174, 223, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
    .new-content{
      padding: 15px;
    }
  }

.client_block{
  &.leadership_team{
    .news-card-container { 
      .news-image-wrapper {
        // height: 350px;
        width:100%;
      }
    }
  }
  .news-card-container {  
    // width:300px;
    // border: 2px solid #fff;  
  //  border-radius: 25px;
    background-image: linear-gradient(180deg, rgba(174, 223, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);

    .news-image-wrapper {
      // height: 300px;
      width:300px;
      text-align: center;
      overflow: hidden;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      display: flex;
      align-items: center;
      justify-content: center;
      .news-image-container {
        width: 100%;
      }
      img {
        display: inline-block;
        vertical-align: top;
      }
    }
    .client-image-wrapper {
      padding: 25px 15px 0;
      display: flex;
      justify-content: center;
      .news-image-container {
        width: 96%;
        background-color: white;
        border-radius: 15px;
        overflow: hidden;
        height: 150px;
        display: flex;
      }
      img {
        width: 100%;
      }
    }
    .new-content {
      padding: 0px 20px 10px 20px;
      text-align: justify;
      min-height: 115px;
    }

    p {
      -webkit-line-clamp: 5;
      line-clamp: 5;
  //    min-height: 105px;
    }
    a {
      font-family: "montserrat-regular";
      color: #234990;
      font-size: 13px;
      text-align: start !important;
      font-weight: bold;
      padding-top: 0;
      line-height: 0;
    }
    &.recommendation-card-wrapper {      
      .news-image-wrapper {
  //      height: 250px;
          height:fit-content;
          width:100%
      }
      p{
        text-align:justify; 
      }
    }
  }
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.success-card-container {
    img {
      // height: 250px;
    }
    h3 {
      color: #234990;
      font-size: 1.5rem;
      margin: 0;
      padding: 10px 0;
    }
    p {
      font-size: 1.3rem;
      padding-bottom: 5px;
      text-align: justify;
    }
    a {
      color: #f26000;
    }
}

.top-layout-container {
  background:#ffffff;
  // background-image: linear-gradient(180deg, rgba(174, 223, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
  h3 {
    color: #234990;
    margin-bottom: 20px;
    line-height: 31px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 62px;
  }
  a {
    color: #f26000;
  }
  p{
    margin-bottom: 25px;
  }
}
.success-card-container .col-12.col-md-6.mb-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.mtooltip {
  position: relative;
  display: inline-block;
  .mtooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #0c2939;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%);
    font-size: 15px;
  }
  &:hover .mtooltiptext {
    visibility: visible;
  }
}