<div *ngIf="type == 'top-image-layout'">
    <div class="top-layout-container">
        <div>
            <div class="image-wrapper">
                <img src="{{image}}" alt="image" />
            </div>
        </div>
        <div>
            <h3>{{title}}</h3>
            <p class="mb-1">{{description}}</p>
            <a routerLink="{{'/' + moduleName + '/'+ slug}}" *ngIf="moduleName">{{hyperlinkText}} <i
                    class="fas fa-arrow-right arrow-icon ml-1"></i></a>
            <a href="javascript:void(0)" *ngIf="!moduleName">{{hyperlinkText}} <i
                    class="fas fa-arrow-right arrow-icon ml-1"></i></a>
        </div>
    </div>
</div>
<div *ngIf="type == 'left-image-layout'">
    <div class="left-layout-container">
        <div class="row no-gutters">
            <div class="col-5">
                <div class="image-wrapper">
                    <img src="{{image}}" alt="image" />
                </div>
            </div>
            <div class="col-7">
                <div class="pl-3">
                    <h3>{{title}}</h3>
                    <p class="mb-1">{{description}}</p>
                    <a routerLink="{{'/' + moduleName + '/'+ slug}}" *ngIf="moduleName">{{hyperlinkText}} <i
                            class="fas fa-arrow-right arrow-icon ml-1"></i></a>
                    <a href="javascript:void(0)" *ngIf="!moduleName">{{hyperlinkText}} <i
                            class="fas fa-arrow-right arrow-icon ml-1"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="type == 'news-card-layout' || type == 'recommendation-card-layout'">
    <div class="news-card-container" [ngClass]="{'recommendation-card-wrapper': type == 'recommendation-card-layout'}">
        <div class="news-image-wrapper" *ngIf="image">
            <div class="news-image-container">
                <img src="{{image}}" alt="image" />
            </div>
        </div>
        <div class="new-content">
            <h3>{{title}}</h3>
            <p class="mb-1">{{description}}</p>
            <a routerLink="{{'/' + moduleName + '/'+ slug}}" *ngIf="moduleName">{{hyperlinkText}} <i
                    class="fas fa-arrow-right arrow-icon ml-1"></i></a>
            <a href="javascript:void(0)" *ngIf="!moduleName">{{hyperlinkText}} <i
                    class="fas fa-arrow-right arrow-icon ml-1"></i></a>
        </div>
    </div>
</div>
<div *ngIf="type == 'success-card-layout'">
    <div class="success-card-container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="">
                    <div class="image-wrapper">
                        <img src="{{image}}" alt="image" />
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="">
                    <h3>{{title}}</h3>
                    <p class="mb-1">{{description}}</p>
                    <a routerLink="{{'/' + moduleName + '/'+ slug}}" *ngIf="moduleName">{{hyperlinkText}} <i
                            class="fas fa-arrow-right arrow-icon ml-1"></i></a>
                    <a href="javascript:void(0)" *ngIf="!moduleName">{{hyperlinkText}} <i
                            class="fas fa-arrow-right arrow-icon ml-1"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="type == 'success-right-card-layout'">
    <div class="success-card-container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="">
                    <h3>{{title}}</h3>
                    <p class="mb-1">{{description}}</p>
                    <a routerLink="{{'/' + moduleName + '/'+ slug}}" *ngIf="moduleName">{{hyperlinkText}} <i
                            class="fas fa-arrow-right arrow-icon ml-1"></i></a>
                    <a href="javascript:void(0)" *ngIf="!moduleName">{{hyperlinkText}} <i
                            class="fas fa-arrow-right arrow-icon ml-1"></i></a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="">
                    <div class="image-wrapper">
                        <img src="{{image}}" alt="image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="type == 'personal-card-layout'">
    <div class="news-card-container">
        <div class="news-image-wrapper" *ngIf="image">
            <div class="news-image-container">
                <img src="{{image}}" alt="image" />
            </div>
        </div>
        <div class="new-content" style="text-align:center">
            <h3 style="text-align:center;padding-top:25px">{{title}}</h3>
            <p class="mb-1" style="text-align:center; min-height: 70px;">{{description}}</p>
            <a routerLink="{{'/' + moduleName + '/'+ title}}" *ngIf="moduleName">{{hyperlinkText}} <i
                    class="fas fa-arrow-right arrow-icon ml-1"></i></a>
        <!--    <div style="text-align:center;padding-right:15px">
                <a href="javascript:void(0)" *ngIf="!moduleName">{{hyperlinkText}} <i
                    class="fas fa-arrow-right arrow-icon ml-1"></i></a>
            <a href="javascript:void(0)" *ngIf="!moduleName">{{hyperlinkText}} 
                <i class="fab fa-linkedin"></i>
            </a>
            </div>  -->
                  
        </div>
    </div>
</div>
<div *ngIf="type == 'client-card-layout'">
    <div class="news-card-container">
        <div class="client-image-wrapper" *ngIf="image">
            <div class="news-image-container">
                <img src="{{image}}" alt="image" />
            </div>
        </div>
        <div class="new-content" style="text-align:center">            
            <a href="{{url}}" target="blank">
                <h3 style="text-align:center;padding-top:25px;width:300px">
                <i class="fas fa-external-link-alt" style="margin-right:5px;margin-top:15px"></i>
                {{title}} 
                </h3>
            </a>           
            <p class="mb-1" style="text-align:center; min-height: 30px;width:300px">{{description}}</p>
                         
        </div>
    </div>
</div>