<section style="width:100%;">
    <div class="content" [ngStyle]="{'height.px':screenheight-134}">
        <div class="content-block">
            <!-- <h3 class="montserrat-semi-bold">Kavi Global</h3> -->
            <span class="sentence">
                <strong>Kavi Global</strong>
                is a pure play data and analytics company offering a comprehensive set of data analytics solutions,
                software and services invested in business value co-creation and knowledge sharing.
            </span>
        </div>
        <div class="arrow-block">
            <button (click)="ScrollIntoView('section2')" mat-icon-button aria-label="Example icon-button with a menu">
                <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
            </button>
        </div>
    </div>
</section>
<section id="section2" class="section-2">
    <div class="page1">
        <h3> With Kavi Global, clients like you so far got to achieve…</h3>
        <p> We have been serving clients across a wide range of verticals including
            <strong> transportation,
                healthcare, manufacturing,higher education, digital marketing,</strong> and more and have help them
            achieve
        </p>
        <div class="col-4" class="cost-divisions" style="display:flex;">
            <div style="width: 100%;">
                <h1>$ 500</h1>
                <h1>Million</h1>
                <p style="width: 69%;">Cost Optimization</p>
            </div>
            <div class="vl"></div>
            <div style="width: 100%;">
                <h1>$ 250</h1>
                <h1>Million</h1>
                <p>New Revenue Opportunities</p>
            </div>
            <div class="vl"></div>
            <div style="width: 100%;padding-top: 32px;">
                <h1 style="padding-bottom: 27px;">60%</h1>
                <p>Increase in Customer Retention</p>
            </div>
        </div>
        <h3> How do we get you there?</h3>
        <div class="col-6">
            
        </div>
    </div>
</section>