<section style="height:100%;width:100%;">
    <div class="content">
        <div class="content-block">
            <!-- <h3 class="montserrat-semi-bold">Kavi Global</h3> -->
            <span class="sentence">
                <strong>Kavi Global</strong>
                is a pure play data and analytics company offering a comprehensive set of data analytics solutions,
                software and services invested in business value co-creation and knowledge sharing.
            </span>
        </div>
        <div class="arrow-block">
            <button mat-icon-button aria-label="Example icon-button with a menu">
                <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
            </button>
        </div>
    </div>
</section>