<div class="content">
  <button >
    <img src="assets/kavi_Logo.png" alt="">
  </button>
  <div class="sub-content">
    <button mat-icon-button (click)="openMenu()" aria-label="Example icon-button with a menu">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button (click)="openMenu()" aria-label="Example icon-button with a menu">
      <mat-icon> phone</mat-icon>
    </button>
    <button mat-icon-button (click)="openMenu()" aria-label="Example icon-button with a menu">

      <mat-icon>menu</mat-icon>
    </button>
  </div>
</div>