<div class="content">
  <h3>Kavi Global</h3>
  <button mat-icon-button (click)="openMenu()" aria-label="Example icon-button with a menu">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button (click)="openMenu()" aria-label="Example icon-button with a menu">
    <mat-icon> phone</mat-icon>
  </button>
  <button mat-icon-button (click)="openMenu()" aria-label="Example icon-button with a menu">

    <mat-icon>menu</mat-icon>
  </button>
  <!-- <mat-menu #menu="matMenu">
    <ng-container *ngIf="headerList.length">
      <ng-container *ngFor="let item of headerList">
        <p> {{item.title}}</p>
      </ng-container>
    </ng-container>
    <div>
    </div>
  </mat-menu> -->
</div>