.page-content-section {
  // width: 75%;
  // height: 100%;
  // background-color: aqua;
  // margin-right: 10px;
  padding-top: 80px;
  padding-right: 30px;
  box-sizing: border-box;
  .list-wrapper {
    display: flex;
  }
}
.divider {
  border-right: 2px solid rgba(141, 141, 141, 0.6);
}
ngb-datepicker {
  border: none;
}
.read-more {
  width: 90%;
  font-family: "montserrat-regular";
  font-size: 1.1rem;
  line-height: 0.8;
  color: #2b5084 !important;
  cursor: pointer;
}
