.page-content-section {
  // width: 75%;
  // height: 100%;
  // background-color: aqua;
  // margin-right: 10px;
  padding-top: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  .list-wrapper {
    display: flex;
  }
  h2{
    color: #ea6b1e;
    font-size: 34px;
    font-weight: 700;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 20px 20px;
    background-position: center;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 20px;
    text-transform: capitalize;
}
  * {
    font-family: "montserrat-regular";
  }  
}
.border-right {
  border-right: 1px solid #fff !important;
}
.border-left {
  border-left: 1px solid #fff !important;
}
.divider {
  border-right: 2px solid rgba(141, 141, 141, 0.6);
}
ngb-datepicker {
  border: none;
}
footer-top-margin{
  margin-top:20px;
}
.read-more {
  width: 90%;
  font-family: "montserrat-regular";
  font-size: 1.1rem;
  line-height: 0.8;
//  color: #2b5084 !important;
  cursor: pointer;
}
.recommendation-section {
  h3 {
    color: #EA6B1E;
    font-size: 24px;
  }
}
.page-content {
//  padding-right: 70px;
  ::ng-deep img {
      max-width: 100% !important;
  }
}
iframe {
//  width: 786px;
  height: 600px;
  border: 0;
  overflow: hidden;
  margin-left:-14px;
}
object {
  //  width: 786px;
    height: 600px;
    border: 0;
    overflow: hidden;
    margin-left:-14px;
  }
form{
  h3 {
    color: #2b5084;
    font-size: 25px;
  }
}
label{
  padding:10px;
}
select {
  display: inline-block;
  height: 30px;
  width: 150px;
  outline: none;
  color: #74646e;
  border: 1px solid #ccc;
  border-radius: 5px;
 // box-shadow: 1px 1px 2px #999;
  background: #fff;
}
select:focus {
  border: 2px solid #EA6B1E;
}
select:hover {
//    color: #000000;
    background: #fff;
}
select::after {
  background-color: #000d42;
}
.custom-select {
  position: relative;
  font-family: "montserrat-regular";
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

    
input[type=text],[type=number],textarea {
  width: 50%;
  padding: 10px;
 // margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.formStyles {
  width: 50%;
  padding: 10px;
 // margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.formStyles:focus {
  border: 1px solid #EA6B1E;
}

input[type=text]:focus {
  border: 1px solid #EA6B1E;
}
input[type=number]:focus {
  border: 1px solid #EA6B1E;
}
textarea:focus {
  border: 1px solid #EA6B1E;
  }

.mandatory-sign {
  text-align: center;
  i {
    font-size: 40px;
    opacity: 0.6;
    color:red;
  }
}

button{
  background-color: #EA6B1E;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight :500;
}

input[type=submit] {
  background-color: #EA6B1E;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight :500;
}

input[type=submit]:hover {
  background-color: #EA6B1E;
}

.container {
  border-radius: 5px;
//  background-color: #f2f2f2;
//  padding: 20px;
  max-width:90%;
}

.title {
  color: #EA6B1E;
  font-size:1.4rem;
  font-weight: 700px;
  margin-bottom:10px
}

.modalFooter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
//  border-top: 0px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
/* demo shizzle only */
body {
  background: #eee;
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
/*   outline: 1px solid #ccc; */
}

/* Still use global css (not utility css) for base typography etc? */
p {
  margin-bottom: 0.8em;
}

.top-content {
  padding: 30px 0 30px;
  color:#fff;
  text-align: center;
}
.tab {
  overflow: hidden;       
  background-color: #f1f1f1;
  display: inline-flex;
  margin-top:-15px;
}

/* Style the buttons inside the tab */
.tab a {
  background-color: #000d42;
  color: #fff;
  width: fit-content;
  font-weight:800;
  font-family: "montserrat-regular";
  float: left;
  border: 1px solid #fff;
  outline: none;
/*   pointer-events: none;*/
  cursor: pointer;        
  transition: 0.3s;
  font-size: 13px;
  padding: 5px 5px 5px 5px;
}
.our_page {
  // padding: 0px 20px;
  h2 {
      color: #ea6b1e;
      font-size: 34px;
      font-weight: 700;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 50px 20px;
      background-position: center;
      text-align: center;
      margin-bottom: 45px;
      border-radius: 10px;
      font-family: "montserrat-regular";
  }     
}
.rounded-lg {
  border-radius: 20px !important;
}
.privacy_policy_block{
  padding: 25px;
}