<div *ngIf="!isDataLoaded">
    <app-page-loader></app-page-loader>
</div>
<div class="icon-bar1">
    <a class="contact" (click)="open(mymodal,'','','','Contact Us')">Contact us</a> 
</div>
<ng-template #mymodal let-modal>
    <div class="modal-header" style="padding-left: 25px;">     
      <h3 class="title"> Please let us know how we may help you</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row fillForm">                    
            <ng-container>
                <form [formGroup]="demoSection" (ngSubmit)="sendDemoRequest()">                  
                    <div>                                                    
                            <input class="formStyles" type="text" placeholder = "First Name *" formControlName="firstName" [(ngModel)]="firstNamevalue">                                  
                         
                            <input class="formStyles" type="text" placeholder = "Last Name *"  formControlName="lastName" [(ngModel)]="lastNamevalue">
                         
                            <input class="formStyles" type="text" placeholder = "Email *" formControlName="email" [(ngModel)]="emailvalue">
                          
                            <input class="formStyles" type="number" placeholder = "Phone" formControlName="phone" [(ngModel)]="phonevalue">
                        
                            <textarea class="formStyles" style="width:82%; height:100px" formControlName="message" [(ngModel)]="messagevalue" placeholder="Message.." cols="45" rows="8" aria-required="true"></textarea>
                            
                    </div> 
                    <div *ngIf="!validateStatus && validateMessage.length > 0" style="padding-bottom: 20px;">
                        <span style="color: red; font-size:13px;">
                            {{validateMessage}}
                        </span>
                    </div>
                    <button id="submit" type="submit" >Send</button>                             
                   
                    <div *ngIf="validateStatus" style="padding-bottom: 20px;">
                        <span style="color: Green; font-size:13px;">
                            {{validateMessage}}
                        </span>
                    </div>
            
                  </form>
            </ng-container>
        </div>
    </div>
  </ng-template> 
<div class="cont" *ngIf="isDataLoaded">
    <!-- {{this.homeData.attributes.HeroHeader.SliderMedia.Media.data.attributes.url | json}} -->
    <ngb-carousel class="client-slider home_slider" *ngIf="clientImages.length">
        <ng-container *ngFor="let item of this.homeData.attributes?.HeroHeader;let i = index">
            <ng-template ngbSlide>
                <img *ngIf="item.SliderMedia?.Media?.data" [src]="item.SliderMedia?.Media?.data?.attributes?.url" alt="kaviglobal" />
                <div class="slider_content">
                    <h3 *ngIf="item.Description">{{item.Description}}</h3>
                </div>
            <!--    <div class="slider_readmore"><a routerLink ="/newslist/kavi-global-announces-research-partnership-with-ann-and-robert-h-lurie-children-s-hospital-of-chicago" (click)="makeMenuActive(homeData.rightmenu[1])" *ngIf="i == 2">Read more</a></div>
            -->
            </ng-template>
        </ng-container>
    </ngb-carousel>
    <!-- <div id="home_banner" class="banner-wrapper" [ngStyle]="{'background-image': 'url(' + backgroundImg + ')'}">
        <div class="banner-container">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="top-content">
                                <h3 *ngIf="this.homeData.attributes.HeroHeader[0].Title &&
                                this.homeData.attributes.HeroHeader[0].Description
                                "><span>{{this.homeData.attributes.HeroHeader[0].Title}}</span>
                                    {{this.homeData.attributes.HeroHeader[0].Description}}</h3>
                            </div>
                            <div class="partner-img-wrapper">
                                <div class="row align-items-center" *ngIf="homeData.attributes?.HeroHeader">
                                    <ng-container *ngFor="let item of homeData.attributes?.HeroHeader;let i = index">
                                        <div class="col-3" *ngIf="i && item.SliderMedia?.Media?.data?.attributes?.url">
                                            <div class="partner-img">
                                                <img src="{{item.SliderMedia.Media.data.attributes.url}}" alt="logo"
                                                    class="">
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="bottom-arrow-wrapper">
                        <i class="fas fa-angle-down"></i>
                    </div>--
                </div>
            </div>
        </div>
    </div> -->
    <div id="achievements_section" class="achievements-section">
        <div class="container">
            <div class="description-section">
                <h3 class="mb-2">{{homeData.attributes.Achievements.Title}}</h3>
                <p>{{homeData.attributes.Achievements.Paragraph}}</p>
            </div>
            <div id="achievements_section_count" class="cost-wrapper aos-init fade-down">
                <div class="row"
                    *ngIf="homeData.attributes && homeData.attributes.AchievementMetrics && homeData.attributes.AchievementMetrics.length > 0">
                    <div class="col-12 col-lg-4 cost-card-col"
                        *ngFor="let achieveItem of homeData.attributes.AchievementMetrics">
                        <div class="cost-card">
                            <div class="cost-card-conteint">
                                <h1>{{achieveItem.Title}}</h1>
                                <p>{{achieveItem.Subtitle}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sssk_section" class="blog-section fade-up aos-init" style="background-image:url('{{imageUrl}}bg2_fe2da1bc6a.jpg');">
        <div class="container">
            <h3>{{homeData.attributes?.OfferingsTitle}}</h3>
            <div class="row"
                    *ngIf="homeData.attributes && homeData.attributes?.Offerings && homeData.attributes?.Offerings.length > 0">
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 block_sssk" *ngFor="let offering_item of homeData.attributes?.Offerings">
                    <img src="{{offering_item.Media?.Media?.data?.attributes?.url}}">
                    <div class="box_sssk">
                        <h2>{{offering_item.Title}}</h2>
                        <p>{{offering_item.PreviewContent}}</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div id="analytics_section" class="analytics-section aos-init fade-up">
        <div class="container">
            <h1 class="">{{homeData.attributes.Analytics.Title}}</h1>
            <div class="analytics-content">
                <div class="row no-gutters align-items-center">
                    <div class="col-12 col-md-7">
                        <h5>
                            {{homeData.attributes.Analytics.PreviewText}}
                        </h5>
                        <h5 class="analytics-more">
                            <!--<a [routerLink]="['/SearchTag=analytics']">-->
                            <a href="https://advana.kaviglobal.com/" target="_blank">
                            {{homeData.attributes.Analytics.LinkLabel}}<i
                                class="fas fa-arrow-right"></i>
                            </a>
                        </h5>
                    </div>
                    <div class="col-12 col-md-5">
                        <div class="analytics-image">
                            <img src="{{homeData.attributes.Analytics.OfferingMedia.Media.data.attributes.url}}"
                                alt="image" class="analytics-img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="success_story" class="success-story-wrapper py-5 fade-up aos-init">
        <h3 class="section-heading" *ngIf="homeData.attributes">{{this.homeData.attributes.SuccessStoryTitle}}</h3>
        <div class="container">
            <div>
                <div class="" *ngIf="homeData.attributes">
                    <div class="" *ngFor="let item of homeData.attributes.SuccessStory.data; let i = index">
                        <ng-container *ngIf="i < 2">
                            <app-card-layout [image]="item.attributes?.Thumbnail?.Media?.data?.attributes?.url"
                                [title]="item.attributes.Title" [description]="item.attributes.PreviewContent"
                                [hyperlinkText]="hyperlinkText" moduleName="success-stories"
                                [slug]="item.attributes.Slug"
                                [type]="i?'success-right-card-layout':'success-card-layout'"></app-card-layout>
                        </ng-container>
                    </div>
                    <div class="">
                        <div class="read-more-section">
                            <a routerLink ="/success-stories" (click)="makeMenuActive(homeData.rightmenu[2])">
                                Browse Our Clients’ Success Stories <i class="fas fa-arrow-right arrow-icon"></i>
                            </a>
                        </div>
                    </div> 
                </div>                 
            </div>                       
        </div>
    </div>
    <div id="blog_section" class="blog-section fade-up aos-init" style="background-image:url('{{imageUrl}}bg3_4a1641c6ee.jpg');">
        <div class="container">
            <h3 *ngIf = "homeData.attributes">{{this.homeData.attributes.BlogsTitle}}</h3>
            <div>
                <div class="row" *ngIf="homeData.attributes">                    
                    <ng-container>
                        <!-- *ngFor="homeData.attributes.Blogs.data[0]; let j = index">
                        -->
                        <!-- <div class="col-12 col-md-4">
                            <div class="pt-2" >
                                <app-card-layout
                                    [image]="homeData.attributes.Blogs.data[0].attributes.Thumbnail.Media.data.attributes.url"
                                    [title]="homeData.attributes.Blogs.data[0].attributes.Title"
                                    [slug]="homeData.attributes.Blogs.data[0].attributes.Slug"
                                    [description]="homeData.attributes.Blogs.data[0].attributes.PreviewContent"
                                    moduleName="blogs" [hyperlinkText]="hyperlinkText" 
                                    [type]="'top-image-layout'">
                                </app-card-layout>
                            
                            </div>
                        </div> -->
                        
                        <ng-container *ngIf="homeData.attributes.Blogs.data.length > 1">
                            <ng-container *ngFor="let item of homeData.attributes.Blogs.data; let i = index">
                                <!-- <ng-container *ngIf="i && i < 4"> -->
                                    <div class="col-12 col-md-4 px-4 mb-4" > <!-- [ngClass]="{'pt-2': i === 1, 'pt-3': i !== 1}" -->
                                        <app-card-layout [image]="item.attributes?.Thumbnail?.Media?.data?.attributes?.url"
                                            [title]="item.attributes.Title" 
                                            [slug]="item.attributes.Slug"
                                            [description]="item.attributes.PreviewContent"
                                            moduleName="blogs" [hyperlinkText]="hyperlinkText"
                                            [type]="'top-image-layout'">
                                        </app-card-layout>
                                    </div>
                                <!-- </ng-container> -->
                            </ng-container>
                        
                <!--            <div class="">
                                <div class="read-more-section">
                                    <a class="" [routerLink]="['/blog']">
                                        Read more on our Blogs <i class="fas fa-arrow-right arrow-icon"></i>
                                    </a>
                                </div>
                            </div>-->
                        </ng-container>
                    </ng-container>
                    <div class="col-12">
                        <div class="read-more-section">
                            <a routerLink ="/blogs" (click)="makeMenuActive(homeData.rightmenu[0])">
                                Read more on our Blogs <i class="fas fa-arrow-right arrow-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="news_cont" class="news-cont fade-up aos-init">
        <div class="container">
            <h3 class="section-heading">News</h3>
            <div>
                <div class="row news-section" *ngIf="homeData.attributes">
                    <div class="col-12 col-md-4 px-4 mb-4" *ngFor="let item of homeData.attributes.News.data; let i = index">
                        <ng-container *ngIf="i < 4">
                            <app-card-layout [image]="item.attributes?.Thumbnail?.Media?.data?.attributes?.url"
                                [title]="item.attributes.Title" [description]="item.attributes.PreviewContent"
                                moduleName="newslist"
                                [slug]="item.attributes.Slug"
                                [hyperlinkText]="hyperlinkText" [type]="'news-card-layout'">
                            </app-card-layout>
                        </ng-container>
                    </div>
                    <div class="col-12">
                        <div class="read-more-section pt-2">
                            <a routerLink ="/newslist" (click)="makeMenuActive(homeData.rightmenu[1])">
                                Read more on our News <i class="fas fa-arrow-right arrow-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!--   <div class="container-fluid m-0 p-0 mt-4">
        <div class="news-letter-wrapper">
            <div class="container">
                <div class="row m-0 p-0">
                    <div class="col-12 col-md-6">
                        <h3 class="mb-0">Subscribe for Newsletter</h3>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="news-letter-field">
                            <input type="text" class="form-control" placeholder="Email Address" autocomplete="off" />
                            <div class="send-icon">
                                <i class="fas fa-paper-plane"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>-->

    <div id="clients_section" class="clients-section fade-up aos-init">
        <div class="container">
            <h3>{{homeData.attributes.OurClientsTitle}}</h3>
            <div>
                <div class="client-content">
                    <p [innerHTML]="homeData.attributes.OurClientsParagraph"></p>

                </div>
                <div class="client-card-container">
                    <div class="row">
                        <div class="col-6 col-md-3"
                            *ngFor="let item of homeData.attributes.OurClientDetail;let i = index">
                        <!--            <div class="client-card-wrapper">
                                <div class="client-card">
                                    <div class="client-image">
                                        <img src="{{item.OurClientIcon.Media.data.attributes.url}}" alt="image" />
                                        
                                         <div class="flip-card">
                                            <div class="flip-card-inner">
                                             <div class="client-card-front">
                                                <img src="{{item.OurClientIcon.Media.data.attributes.url}}" alt="image" />
                                              </div>
                                              <div class="client-card-back">
                                                <p>{{item.OurClientDescription.Paragraph}}</p>
                                              </div>
                                            </div>
                                          </div>
                                    </div> 
                                   
                                    <p>{{item.OurClientDescription.Title}}</p>
                                </div> -->
                               <!--Errror after data model changes
                                <div class="flip-card">
                                    <div class="flip-card-inner">
                                      <div class="flip-card-front">
                                        
                                        <img src="{{item.OurClientIcon.Media.data.attributes.url}}" alt="image">
                                        <p>{{item.OurClientDescription.Title}}</p>
                                    </div>
                                      <div class="flip-card-back">
                                        <p>{{item.OurClientDescription.Paragraph}}</p>
                                      </div>
                                    </div>
                                  </div>
                                --> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div id="clients_carousel" class="clients-carousel fade-up aos-init">
        <div class="container">
            <h3 *ngIf = "homeData.attributes">
                {{homeData.attributes.OurClientImagesTitle}}</h3>
            <div class="row no-gutters">
                <div class="col-12">
                    <ngb-carousel class="client-slider" *ngIf="clientImages.length">
                        <ng-container *ngFor="let item of clientImages;let i = index">
                            <ng-template ngbSlide>
                                <div class="client-carousel-image-wrapper" *ngFor="let subItem of item ">
                                    <div class="client-carousel-image-container">
                                        <div class="client-carousel-image-content">
                                            <img *ngIf="subItem.SliderMedia.Media.data" [src]="subItem.SliderMedia.Media.data.attributes.url"
                                                alt="Random first slide" class="" />
                                        </div>
                                    </div>
                                </div>
                         <!--       <div class="client-carousel-image-wrapper" >
                                    <div class="client-carousel-image-container"> 
                                        <div class="client-carousel-image-content">                                           
                                            <img [src]="item.url"
                                                alt="Random first slide" class="" />
                                        </div>
                                    </div>
                                </div>-->
                          </ng-template>
                        </ng-container>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
    <div class="demo-section">
        <div class="container">
            <h3>Schedule a free 30-minute consultation</h3>
            <div class="pt-4">
                <div>                    
                    <ng-container>
                        <form [formGroup]="demoSection" (ngSubmit)="sendDemoRequest()">
                            <div class="row">       
                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <input class="formStyles" type="text" placeholder = "First Name *" formControlName="firstName">                                  
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <input class="formStyles" type="text" placeholder = "Last Name *"  formControlName="lastName">
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <input class="formStyles" type="text" placeholder = "Email *" formControlName="email">
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                        <input class="formStyles" type="number" placeholder = "Phone" formControlName="phone">
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-xs-12">
                                        <textarea class="formStyles" style="height:60px" formControlName="message" placeholder="Message.." cols="45" rows="8" aria-required="true"></textarea>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <button class="schedule_submit" id="submit" type="submit">Send</button>
                                    </div>
                            </div> 
                            <div *ngIf="!validateStatus && validateMessage.length > 0" style="padding-bottom: 20px;">
                                <span style="color: red; font-size:18px;">
                                    {{validateMessage}}
                                </span>
                            </div>
                                                         
                           
                            <div *ngIf="validateStatus" style="padding-bottom: 20px;">
                                <span style="color: Green; font-size:18px;">
                                    {{validateMessage}}
                                </span>
                            </div>
                    
                          </form>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="home-map-wrapper">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [scrollwheel]="true"
            (mapClick)="mapClicked($event)">
            <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label!, i)"
                [latitude]="m.lat" [longitude]="m.lng" [label]="m.label!" [markerDraggable]="m.draggable"
                (dragEnd)="markerDragEnd(m, $event)">
                <agm-info-window>
                    <strong>1250, S. Grove Avenue, Suite 300, Barrington, IL 60010 Greater Chicago area, USA.</strong>
                </agm-info-window>
            </agm-marker>
        </agm-map>
        <!-- <div class="map-contact-wrapper">
            <div class="map-contact-container ">
                <div class="map-contact-content" *ngIf="homeData.attributes">
                    <h3 class="title">Contact Us</h3>
                    <p><i class="fas fa-map-marker-alt mr-2"></i>{{homeData.attributes.ContactUs.Address}}</p>
                    <p><i class="fas fa-envelope mr-2"></i>{{homeData.attributes.ContactUs.Email}}</p>
                    <p><i class="fas fa-phone-alt mr-2"></i>{{homeData.attributes.ContactUs.PhoneNumber}}</p>                    
                    <div class="social-wrapper">                    
                        <a href="https://www.linkedin.com/company/kavi-global/mycompany/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="https://twitter.com/KG4Analytics" target="_blank"><i class="fab fa-twitter-square"></i></a>
                        <a href="https://www.facebook.com/kaviglobal/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://www.youtube.com/channel/UCEMWF8WAJuM5k32gkxGopBQ" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>