  .page-content {
    padding-right: 70px;
    ::ng-deep img {
        // width: 300px;
        max-width: 100% !important;
    }
  }
  .blog-details-content{
    // width: 100vw;
    // height: 100vh;
    // overflow: auto;
  }
  .blog-page-right-menu-section {
    width: 18%;
    margin-left: 30px;
    margin-top: 10%;
    h5 {
      font-family: "montserrat-regular";
      font-size: 1.2rem;
      color: #224991;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li > a {
      font-family: "montserrat-regular";
      font-size: 1.2rem;
      padding-bottom: 8px;
      color: #666;
      cursor: pointer;
      text-decoration: none;
      line-height: 2;
    }
    input {
      outline: none;
      border: 1px solid #ddd;
      height: 40px;
    }
    ::placeholder {
      text-align: center;
      color: #000;
    }
  }
  .recommendation-section {
    h3 {
      color: #EA6B1E;
      font-size: 24px;
    }
  }