.pageContainer + div{
    padding: 10px 15px;
    // border: 2px solid #fff;  
    border-radius: 25px;
    background-image: linear-gradient(180deg, rgba(174, 223, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
    
}
.right-menu-card {    
//   border: 2px solid #fff;  
  border-radius: 25px;
  background-image: linear-gradient(180deg, rgba(174, 223, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
    h1{
        font-size: 1.6rem;
        font-family: "montserrat-regular";
        font-size: 900;
        color: #234990;
    /*    margin-bottom: 25px;*/
    }
    h5{
        color: #a2a6b8;  
        font-family: "montserrat-regular";
        font-size: 0.9rem;
        margin-bottom: -5px;
    }
    p{
        color: #a2a6b8;
        // width: 90%;
        font-family: "montserrat-regular";
        font-size: 1.1rem;
        line-height: 1.6;
    }
    img{
        width: 90%;
        margin-bottom: 30px;
    }
    
    b{        
        background-color:#0c2939;
        color: #fff;
        width: 90%;
        font-family: "montserrat-regular";
        font-size: 0.9rem;        
    }
    .tab {
        overflow: hidden;       
        background-color: #f1f1f1;
      }
      
      /* Style the buttons inside the tab */
      .tab b {
        background-color: #0c2939;
        color: #fff;
        width: fit-content;
        font-weight:800;
        font-family: "montserrat-regular";
        float: left;
        border: 1px solid #fff;
        outline: none;
     /*   pointer-events: none;*/
        cursor: pointer;        
        transition: 0.3s;
        font-size: 13px;
        padding: 5px 5px 5px 5px;
      }
      .tab a {        
        color: #fff;
      }
}
.about-author-title{
    margin-top:30px;
    margin-bottom:30px;
    padding: 5px 5px 5px 5px;
    text-align:justify;
//    background-color: #ccc;
    h6{
        cursor:pointer;
        color:#f26000;
        font-weight:700;
        margin-top:10px;
        margin-bottom:10px;       
    }
    img{
        margin-top:-30px;
        margin-bottom:20px;       
        object-fit: cover; 
//        border-radius: 50%;   
        width: 50%   
    }
    p{
        margin-bottom:-5px;
    }
}
.author-post-data{
    // margin-top:30px;
    padding: 25px 20px;
    a{
    //    color: #000000;        
        text-align:justify;
    }
    ul {
        text-align: left;
        margin-bottom: 10px;
    }
}
.publish-data{
    padding: 30px 0px 0px 10px;
    font-family: "montserrat-regular";
    // margin-top:30px;
//    padding: 5px 5px 5px 5px;
    h6{
        padding: 5px 5px 5px 15px;
        color: #000000;
        font-weight: bold;
        // margin-top:30px;  
    }
    
}
.tab {
    overflow: hidden;       
    // background-color: #f1f1f1;
    display: inline-flex;
    margin-top:-15px;
    margin-left:10px;
  }  
  /* Style the buttons inside the tab */
  .tab a {
    background-color: #0c2939;
    color: #fff;
    width: fit-content;
    font-weight:800;
    font-family: "montserrat-regular";
    float: left; 
    border-radius:7px;
    outline: none;
    cursor: pointer;        
    transition: 0.3s;
    font-size: 13px;
    padding: 5px 10px;
    margin: 0px 8px 10px 0px;
  }
  .social-horizontal{
    display:inline;
  }
  .social-wrapper {  
//    margin-left: 20px;  
 //   width: 50%;
//    text-align: center; 
    margin-top:10px;
    i {
      font-size: 20px; 
      margin-right: 10px;
      margin-bottom: 10px;      
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    a{
      color:#000000;
  }
}
  .news-link{    
    margin-top:10px;
    padding: 5px 5px 5px 25px;
    font-family: "montserrat-regular";
    height: auto;  
//     img{
//     //    height: 300px;
//         text-align: center;
//         overflow: hidden;
//  //       box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         margin-left:50px;
//         width : 40%;
//     }
    a{
        font-size:14p    
   
    }
    ul{    
        text-overflow: ellipsis;
        overflow: hidden;
    }    
    a{
        font-size: 17px;
        color:#f26000;
        font-weight: 700;
    }
    h6{
        color: #000000;
        font-weight: bold;
    }
  }
  .podcasts{    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
//    padding: 5px 5px 5px 5px;
    h6{
        margin-top:20px;
        margin-bottom:10px;
    }
//     img{
//         //    height: 300px;
//             text-align: center;
//             overflow: hidden;
//  //           box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             margin-left:30%;
//             margin-bottom: 10px;
//             margin-top: 20px;
//      //       width:90%;
//      }
    a{
        font-size: 17px;
        color:#f26000;
        font-weight: 600;
    }   
}
.clients{    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "montserrat-regular";
//    padding: 5px 5px 5px 5px;
    h6{
        margin-top:20px;
        margin-bottom:10px;
        font-weight: bold;
    }
    img{
        //    height: 300px;
            text-align: center;
            overflow: hidden;
 //           box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            display: flex;
            align-items: center;
            justify-content: center;
            width:90%;
     }
    a{
        font-size: 17px;
        color:#f26000;
        font-weight: 600;
    }   
}
    text-muted {
        color: #a2a6b8 !important;
        font-weight:500;
    }
    .card{

        width: 380px;
        border: none;
        border-radius: 15px;
        padding: 8px;
        background: transparent;
    //    background-color: rgba(155, 155, 155, 0.25);;
        position: relative;
        height:max-content;
 //       height: 370px;
    }
    .upper{

        height: 100px;

    }
    .upper img{

        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

    }
    .user{
        position: relative;
    }
    .profile img{      
        height: 80px;
        width: 80px;
        margin-top:2px;

       
    }
    .profile{
        position: absolute;
        top:-50px;
        left: 38%;
        height: 90px;
        width: 90px;
        border:3px solid #fff;
        border-radius: 50%;

    }
    .stats span{

        font-size: 18px;
    }
.author-preview{    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "montserrat-regular";
//    padding: 5px 5px 5px 5px;
    h6{
        margin-top:20px;
        margin-bottom:10px;
        color:#f26000;
        cursor: pointer;
        font-weight: bold;
    }
    img{
        //    height: 300px;
            text-align: center;
            overflow: hidden;
//            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            margin-top: 10px;
            width: 70%;
            margin-left: 15%;
            border-radius:50%;
     }
    a{
        font-size: 20px;
        color:#f26000;
        font-weight: 700;
        margin-top:10px
    }   
    p{
        margin-top: 20px;
        color:#000000;
    }
}
.image_card {
    .image_box {
    padding: 0px 15px 25px;
    display: flex;
    justify-content: center;
        .image_sub_box{
            width: 200px;
            background-color: white;
            border-radius: 15px;
            overflow: hidden;
            height: 150px;
            display: flex;
        }
        img{
            width: 100%;
        }
    }
}