
<div class="author-post-data" *ngIf="authorPost">
    <h6 *ngIf="authorPost.length > 0">
        Author's Contribution:
    </h6>
    <div *ngFor="let post of authorPost"> 
        <h6>
            {{post.Label}}
        </h6>
        <ul *ngFor="let item of post?.Data">
            <li>
                <a routerLink="/{{post.pageType}}/{{item.attributes.Slug}}">{{item.attributes.Title}}</a>
          </li>
        </ul>

        <div>
            <ul *ngIf="post?.attributes">
                <li>
                    <a routerLink="/{{moduleName}}/{{post?.attributes?.Slug}}">{{post?.attributes?.Title}}</a>
              </li>
            </ul>
        </div>
    
    </div>

</div>

<div class="publish-data" *ngIf="!authorPost && moduleName != 'pages'">
    <div class="tab" *ngFor="let tag of tags?.data">
        <a (click)="searchTag(tag?.attributes?.Slug)">{{tag.attributes.DisplayName}}</a>
    <!--   <a routerLink="{{'/tag/'+tag?.attributes?.tag_dimension?.data?.attributes?.Name}}">{{tag.attributes.DisplayName}}</a>
           <a> {{tag.attributes.DisplayName}} </a>  -->                                             
    </div> 
    <h6>
        Published Date : {{ publishDate | date:'MMMM d, yyyy' }} 
    </h6>   
    <div *ngIf="clients?.data?.attributes">
        <h6>Clients:</h6> 
    </div> 
    <!--
    <h6 style="float:right">
        <a routerLink="/blogs">Back to List</a>
    </h6>-->
</div>
<div class="clients" *ngIf="clients?.data?.attributes">
<!--   
    <div> 
        <img *ngIf="clients?.data?.attributes?.Logo?.Media?.data?.attributes?.url" 
        src="{{clients?.data?.attributes?.Logo?.Media?.data?.attributes?.url}}"
        title={{clients?.data?.attributes?.Logo?.Media?.data?.attributes?.name}}>
        <a href="{{clients?.data?.attributes?.Url}}" target="blank">
            <i class="fas fa-external-link-alt" style="margin-right:5px;margin-top:15px"></i> {{clients?.data.attributes?.Name}}</a>
           
        <h6 *ngIf = "clients.data.attributes.Name">{{clients.data.attributes.Name}}, {{clients.data.attributes.Location}}</h6>
        <h6 *ngIf = "clients.data.attributes.Industry">Industry : {{clients.data.attributes.Industry}}</h6>
        <h6 *ngIf = "clients.data.attributes.EmployeeCount">Employees : {{clients.data.attributes.EmployeeCount}}</h6>
        <h6 *ngIf = "clients.data.attributes.Revenue">Revenue : {{clients.data.attributes.Revenue}}</h6>
     
    </div>
-->
    <div class="container d-flex justify-content-center align-items-center">             
        <div class="card">
            <div class="user text-center">

            <div class="clients">
    <!--
                <img src="https://i.imgur.com/JgYD2nQ.jpg" class="rounded-circle" width="80">-->
                <img *ngIf="clients?.data?.attributes?.Logo?.Media?.data?.attributes?.url" 
                src="{{clients?.data?.attributes?.Logo?.Media?.data?.attributes?.url}}"
                title={{clients?.data?.attributes?.Logo?.Media?.data?.attributes?.name}}>
                
            </div>
            <a href="{{clients?.data?.attributes?.Url}}" target="blank">
                <i class="fas fa-external-link-alt" style="margin-right:5px;margin-top:15px"></i> {{clients?.data.attributes?.Name}}</a>
        
        <span class="text-muted d-block mb-2">{{clients?.data?.attributes?.Industry}}</span>
        <div class="d-flex justify-content-between align-items-center px-4">

            <div class="stats" *ngIf="clients?.data?.attributes?.Revenue">
            <h6 class="mb-0">Revenue</h6>
            <span>{{clients.data.attributes.Revenue}}</span>

            </div>

            <div class="stats" *ngIf="clients?.data?.attributes?.EmployeeCount">
            <h6 class="mb-0">Employees</h6>
            <span> {{clients.data.attributes.EmployeeCount}}</span>

            </div>
            
        </div>

            </div>          
        </div>
    </div>
</div>
<div class="news-link" *ngIf="externalLink?.length >=1 && !podcasts?.data">  
    <h6>News Media :</h6>  
</div>
<div class="news-link" *ngIf="podcasts?.data.length >=1">  
    <h6>Podcasts :</h6>  
</div>
<div class="news-link" *ngIf="conference?.data">  
    <h6>Conference :</h6>  
</div>
<div class="news-link" *ngIf="publisher?.data">  
    <h6>Publisher :</h6>  
</div> 
 <!--<div class="news-link" *ngIf="newsMedia?.data.length >=1">
        <a *ngFor="let media of newsMedia?.data;let i= index">
            <img *ngIf="media?.attributes?.Logo?.Media?.data?.attributes?.url" 
            src={{media?.attributes?.Logo?.Media?.data?.attributes?.url}}
            title={{media?.attributes?.Logo?.Media?.data?.attributes?.name}}>
        </a>
    </div> -->
<div>
<!--<div class="news-link" *ngIf="newsMedia?.data">
    <a href="{{newsMedia?.data[0].attributes?.Url}}" target="blank">
        <i class="fas fa-external-link-alt" style="margin-right:5px;"></i> {{newsMedia?.data[0].attributes?.Name}}</a>
        <h6>Type : {{newsMedia?.data[0].attributes?.Type}}</h6>
</div> -->
</div>
<div class="news-link" *ngIf="newsMedia?.data">
    <div class="container d-flex justify-content-center align-items-center">             
        <div class="card">
            <div class="user text-center">    
                <div class="news-link" *ngIf="newsMedia?.data.length >=1">
                    <a *ngFor="let media of newsMedia?.data;let i= index">
                        <img *ngIf="media?.attributes?.Logo?.Media?.data?.attributes?.url" 
                        src={{media?.attributes?.Logo?.Media?.data?.attributes?.url}}
                        title={{media?.attributes?.Logo?.Media?.data?.attributes?.name}}>
                    </a>
                </div>
                <a href="{{newsMedia?.data[0].attributes?.Url}}" target="blank">
                    <i class="fas fa-external-link-alt" style="margin-right:5px;"></i> {{newsMedia?.data[0].attributes?.Name}}</a>
               
                <span class="text-muted d-block mb-2">Media : {{newsMedia?.data[0].attributes?.Type}}</span>
                          
            </div>
        </div>
    </div>
</div>
<div class="podcasts" *ngIf="podcasts?.data.length >=1">
  <!--  <h6>Podcasts :</h6> -->
<!--    <ul *ngFor="let cast of podcasts?.data;let i= index">        
        <li>
            <a href="{{externalLink[i].Url}}" target="blank">{{cast.attributes.Name}}</a>     
        </li>
    </ul>-->
    <div class="container d-flex justify-content-center align-items-center">             
        <div class="card">
            <div class="user text-center">    
        <!--        <ul *ngFor="let cast of podcasts?.data;let i= index">        
                    <li>
                        <a href="{{externalLink[i].Url}}" target="blank">{{cast.attributes.Name}}</a>     
                    </li>
                </ul> -->     
                <div style="margin-bottom: 20px;"*ngFor="let cast of podcasts?.data">
                <img *ngIf="cast?.attributes?.Logo?.Media?.data?.attributes?.url" 
                src="{{cast.attributes?.Logo?.Media?.data?.attributes?.url}}"
                title={{cast?.attributes?.Logo?.Media?.data?.attributes?.name}}>
                <a href="{{cast?.attributes?.Url}}" target="blank">
                <i class="fas fa-external-link-alt" style="margin-right:5px;margin-top:10px"></i> 
                {{cast?.attributes?.Name}}</a> 
                </div>                             
            </div>
        </div>
     </div>
      <!--  <a style="margin-left:-250px; margin-top:-50px; margin-right:20px"href="{{externalLink[i].Url}}" target="blank">
            <i class="fas fa-external-link-alt" style="margin-right:10px"></i> Click Here</a>-->       
</div>

<div class="podcasts" *ngIf="conference?.data?.attributes"> 
   
    <div class="container d-flex justify-content-center align-items-center">             
        <div class="card">
            <div class="user text-center">    
                <img *ngIf="conference?.data?.attributes?.Logo?.Media?.data?.attributes?.url" 
                src="{{conference?.data?.attributes?.Logo?.Media?.data?.attributes?.url}}"
                title={{conference?.data?.attributes?.Logo?.Media?.data?.attributes?.name}}>
                <a href="{{conference?.data.attributes?.Url}}" target="blank">
                <i class="fas fa-external-link-alt" style="margin-right:5px;margin-top:10px"></i> {{conference?.data.attributes?.Name}}</a>
    <!--        <span class="text-muted d-block mb-2">Media : {{newsMedia?.data[0].attributes?.Type}}</span>
        -->                    
            </div>
        </div>
     </div>
    
</div> 
<div class="clients" *ngIf="publisher?.data?.attributes">   
    <div class="container d-flex justify-content-center align-items-center">             
        <div class="card">
            <div class="user text-center">    
                <img *ngIf="publisher?.data?.attributes?.Logo?.Media?.data?.attributes?.url" 
                src="{{publisher?.data?.attributes?.Logo?.Media?.data?.attributes?.url}}"
                title={{publisher?.data?.attributes?.Logo?.Media?.data?.attributes?.name}}>
                <a href="{{publisher?.data?.attributes?.Url}}" target="blank">
                <i class="fas fa-external-link-alt" style="margin-right:5px;margin-top:15px"></i> 
                {{publisher?.data.attributes?.Name}}</a>                  
        <!--            <span class="text-muted d-block mb-2">Media : {{newsMedia?.data[0].attributes?.Type}}</span>
        -->                    
            </div>
        </div>
     </div>
</div>
<!--
<div *ngIf="authorDetails?.data"> 
    <div class="news-link" *ngFor="let author of authorDetails?.data">  
        <h6>Author : {{author.attributes.DisplayName}}</h6>     
    </div>    
    <div *ngFor="let author of authorDetails?.data">    
        <div class="about-author-title">     
            <div *ngIf="author?.attributes?.Thumbnail?.Media?.data?.attributes?.url">                        
            <a>  
            <img src="{{author.attributes.Thumbnail.Media.data.attributes.url}}" alt={{author.attributes.Thumbnail.Alt}} title={{author.attributes.DisplayName}}>
            </a>
           <h6> {{author.attributes.DisplayName}}</h6>             
            <div class="social-wrapper" *ngIf="author.attributes.SocialMedia.length >= 1">  
                <a *ngIf="author?.attributes?.Email" href="mailto:{{author.attributes.Email}}"><i class="fas fa-envelope mr-2"></i></a>
                <div class="social-horizontal" *ngFor="let media of author.attributes.SocialMedia">                              
                    <a *ngIf="media?.Type == 'LinkedIn'" href={{media?.Url}} target="_blank"><i class="fab fa-linkedin"></i></a>  
                    <a *ngIf="media?.Type == 'Twitter'" href={{media?.Url}} target="_blank"><i class="fab fa-twitter-square"></i></a>
                    <a *ngIf="media?.Type == 'Facebook'" href={{media?.Url}} target="_blank"><i class="fab fa-facebook-square"></i></a>
                    <a *ngIf="media?.Type == 'YouTube'" href={{media?.Url}} target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>  
            </div>          
            <p>{{author.attributes.PreviewContent}}</p>
            <h6 *ngIf="author?.attributes?.PreviewContent" (click) = "searchAuthor(author.attributes.Slug)">Read More ...</h6>
        </div> 
</div>-->
<div class="news-link" *ngIf="authorDetails?.data">  
    <h6>Author Details :</h6>  
</div>
<div class="author-preview" *ngIf="authorDetails?.data"> 
    <div *ngFor="let author of authorDetails?.data">
        <div class="container d-flex justify-content-center align-items-center">             
            <div class="card">
                <div class="user text-center">  
                    <div>
                        <div *ngIf="author?.attributes?.Thumbnail?.Media?.data?.attributes?.url">                          
                                <img src="{{author.attributes.Thumbnail.Media.data.attributes.url}}" alt={{author.attributes.Thumbnail.Alt}} title={{author.attributes.DisplayName}}>
                            <a>   {{author.attributes.DisplayName}}</a>
                        </div>
                        <div class="social-wrapper" *ngIf="author.attributes.SocialMedia.length >= 1">  
                            <a *ngIf="author?.attributes?.Email" href="mailto:{{author.attributes.Email}}"><i class="fas fa-envelope mr-2"></i></a>
                            <div class="social-horizontal" *ngFor="let media of author.attributes.SocialMedia">                              
                                <a *ngIf="media?.Type == 'LinkedIn'" href={{media?.Url}} target="_blank"><i class="fab fa-linkedin"></i></a>  
                                <a *ngIf="media?.Type == 'Twitter'" href={{media?.Url}} target="_blank"><i class="fab fa-twitter-square"></i></a>
                                <a *ngIf="media?.Type == 'Facebook'" href={{media?.Url}} target="_blank"><i class="fab fa-facebook-square"></i></a>
                                <a *ngIf="media?.Type == 'YouTube'" href={{media?.Url}} target="_blank"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>  
                    </div>  
    <!--                <img *ngIf="publisher?.data?.attributes?.Logo?.Media?.data?.attributes?.url" 
                    src="{{publisher?.data?.attributes?.Logo?.Media?.data?.attributes?.url}}"
                    title={{publisher?.data?.attributes?.Logo?.Media?.data?.attributes?.name}}>
                    <a href="{{publisher?.data?.attributes?.Url}}" target="blank">
                    <i class="fas fa-external-link-alt" style="margin-right:5px;margin-top:15px"></i> 
                    {{publisher?.data.attributes?.Name}}</a>                  
                    -->                  
                </div>
            </div>
        </div>   
        <p>{{author.attributes.PreviewContent}}</p>
        <h6 *ngIf="author?.attributes?.PreviewContent" (click) = "searchAuthor(author.attributes.Slug)">Read More ...</h6>
    </div>
</div>
<!--
<div>
    <app-subscribe-layout></app-subscribe-layout>
</div>-->
  
    <!--
    <img *ngIf="cardImage" src={{cardImage}} alt="image" />    
    <p>{{cardContent}}</p>
</div>
-->

