// .container {
//   max-width: 100vw;
// }
// .bg-container {
//   background-image: url("../../../../assets/Images/Group 2007.png");
//   width: 100%;
//   height: 15vh;
//   background-size: 100%;
//   padding: 0;
//   margin: 0;
//   display: flex;
//   justify-content: space-between;
//   div {
//     width: 50%;
//     height: 30%;
//     // background-color: aqua;
//     img {
//       width: 300px;
//       height: 80px;
//     //   margin-left: 20px;
//     //   background-color: green;
//     }
//     i{
//         color: #fff;
//         font-size: 20px;
//         margin: 10px;
//     }
//   }
// }
// .icon{
//     color: red;
// }

.header {
  background-image: url("../../../../assets/Images/Group 2007.png");
  padding: 10px 20px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  // width: 100%;
  height: 85px;
  box-sizing: border-box;
  background-color: #000e42;
  position: sticky;
}
.header1 {
  // background-image: url("../../../../assets/Images/Group 2007.png");
  background-color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  width: 100%;
  height: 85px;
  box-sizing: border-box;
  background-color: #fff;
  // border-bottom: 2px solid rgb(141, 141, 141);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
}
.nav-left {
  background: #fff;
  padding: 10px;
  cursor: pointer;  
  .logo {
    height: 45px;
  }
}
.nav-right {
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  a {
    padding: 4px;
    margin-left: 10px;
  }
}
nav {
  width: 100%;
}
.icon {
  color: #fff;
  font-size: 20px;
}
.blog-icon {
  color: #000d42;
  font-size: 20px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 98%;
}

nav a {
  color: #333;
  text-decoration: none;
  // margin-right: 20px;
}

.menu-container {
  // background-color: #fff;
  background-color: #000d42;
  width: 100%;
  max-height: calc(100vh - 85px);
  padding: 20px;
  position: fixed;
  z-index: 1004;
  overflow-y: auto;
}
.menu-items {
  list-style-type: none;
  padding-left: 3rem;
}
.inner-menu-items {
  list-style-type: none;
  padding-left: 0;
}
.menu-items-right {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
h6 {
  color: #ea6b1e;
  font-size: 1rem;
  font-family: "montserrat-regular";
  font-weight: 800;
}
a {
  // color: #234A91;
  color: #fff;
  font-size: 1rem;
  font-family: "montserrat-regular";
  font-weight: 800;
}
