<div class="items-header">
    <input type="search" class="form-control rounded montserrat-regular" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" />
    <!-- <i class="fa fa-microphone"></i> -->
    <a class="search-icon" id="search-addon">
        <i class="fa fa-search"></i>
    </a>
    <button type="button" (click)="modalClose()" class="close" aria-label="Close">
        <a aria-hidden="true">&times;</a>
    </button>
</div>



<div class="menu-items">
    <div class="row">
        <div style="padding-left: 75px;" class="col-4">
            <ul>
                <li> <a href="http://google.com/search" href="http://google.com/search"
                        class="montserrat-semi-bold">About Us</a>
                </li>
                <li> <a href="http://google.com/search" href="http://google.com/search"
                        class="montserrat-semi-bold">Contact
                        Us</a>
                </li>
                <li> <a href="http://google.com/search" href="http://google.com/search"
                        class="montserrat-semi-bold">Careers</a>
                </li>
            </ul>
            <!-- <a href="http://google.com/search" href="http://google.com/search" class="montserrat-semi-bold">About Us</a>
            <a href="http://google.com/search" href="http://google.com/search" class="montserrat-semi-bold">Contact
                Us</a>
            <a href="http://google.com/search" href="http://google.com/search" class="montserrat-semi-bold">Careers</a> -->
            <h3 class="montserrat-semi-bold">Services</h3>
            <ul>
                <li> <a href="http://google.com/search" class="montserrat-medium">Strategy & Roadmap</a>
                </li>
                <li> <a href="http://google.com/search" class="montserrat-medium">Enterprise Data Platform</a>
                </li>
                <li> <a href="http://google.com/search" class="montserrat-medium">Business intelligence</a>
                </li>
                <li> <a href="http://google.com/search" class="montserrat-medium">Data science</a>
                </li>
                <li> <a href="http://google.com/search" class="montserrat-medium">Product Development</a>
                </li>
                <li> <a href="http://google.com/search" class="montserrat-medium">Optimization</a>
                </li>
                <li> <a href="http://google.com/search" class="montserrat-medium">Internet of things</a>
                </li>
                <li> <a href="http://google.com/search" class="montserrat-medium">Cloud</a>
                </li>
                <li> <a href="http://google.com/search" class="montserrat-medium">Managed services</a>
                </li>
            </ul>
        </div>
        <div style="padding-left: 50px;" class="col-4">
            <h3 class="montserrat-semi-bold">Solutions</h3>
            <ul>
                <li> <a href="http://google.com/search" class="montserrat-medium">Enterprise Solutions</a>
                </li>
                <li> <a href="http://google.com/search" class="montserrat-medium">Industry Solutions</a>
                </li>
                <li> <a href="http://google.com/search" class="montserrat-medium">Functional Analysis</a>
                </li>
                <li> <a href="http://google.com/search" class="montserrat-medium">AI Accelarators</a>
                </li>
            </ul>
            <h3 class="montserrat-semi-bold">Kavi Labs</h3>
            <ul>
                <li> <a href="http://google.com/search" class="montserrat-medium">Enterprise AI</a>
                </li>
                <li> <a href="http://google.com/search" class="montserrat-medium">Innovation</a>
                </li>
                <li> <a href="http://google.com/search" class="montserrat-medium">Research</a>
                </li>
                <li> <a href="http://google.com/search" class="montserrat-medium">AI Accelarators</a>
                </li>
            </ul>
            <h3 class="montserrat-semi-bold">Software</h3>
            <ul>
                <li> <a href="http://google.com/search" class="montserrat-medium">Data Engineering & Science</a>
                </li>
                <li> <a href="http://google.com/search" class="montserrat-medium">AI Anomaly Detection</a>
                </li>
                <li> <a href="http://google.com/search" class="montserrat-medium">Data Labeling</a>
                </li>
            </ul>
        </div>
        <div class="col-4 montserrat-medium">
            <div class="vl"></div>
            <ul>
                <li class="side-bar"> <a href="http://google.com/search">Blog</a>
                </li>
                <li class="side-bar"> <a href="http://google.com/search">Sucess Stories</a>
                </li>
                <li class="side-bar"> <a href="http://google.com/search">White Paper</a>
                </li>
                <li class="side-bar"> <a href="http://google.com/search">Publications</a>
                </li>
                <li class="side-bar"> <a href="http://google.com/search">Podcasts</a>
                </li>
                <li class="side-bar"> <a href="http://google.com/search">Conferences</a>
                </li>
                <li class="side-bar"> <a href="http://google.com/search">Magazines</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row menu-footer">
        <div class="col-4">
            <h3 class="montserrat-medium">Subscribe for Newsletter</h3>
            <!-- <span> -->
            <div class="send-paper">
                <input type="search" class="form-control montserrat-regular" placeholder="Email Address"
                    aria-label="Email Address" aria-describedby="email address" />
                <i style="padding-right: 2px; font-size:large;padding-left: 11px;
                font-weight: bold;" class="fa fa-paper-plane" aria-hidden="true"></i>
            </div>

            <!-- <a href="http://google.com/search"  class="search-icon" id="search-addon"> -->
            <!-- </a> -->
            <!-- </span> -->
        </div>
        <div style="padding-left: 5%;" class="col-3">
            <h3 class="montserrat-medium">Follow Us</h3>
            <i style="color: #4267B2;" class="fa fa-facebook-square"></i>
            <i style="color: #0077B5;" class="fa fa-linkedin-square"></i>
            <i style="color: #00ACEE;" class="fa fa-twitter-square"></i>
            <i style="color: #FF0000;" class="fa fa-youtube-play"></i>
        </div>
        <div style="padding-left: 90px;" class="col-5">
            <h3 class="montserrat-medium">Contact Us</h3>
            <i class="fa fa-phone" style="font-size: 20px;"></i>
            <span class="open-sans-regular">
                (847)387-6760
            </span>
            <i class="fa fa-envelope" style="font-size: 20px;color:#000000; 
                    padding-left: 7px;"></i>
            <span class="open-sans-regular">
                contact@kaviglobal.com
            </span>
        </div>
    </div>
    <!-- <div class="menu-footer">
        <div>
            <h3>Subscribe for Newsletter</h3>
            <input type="search" class="form-control rounded" placeholder="Email Address" aria-label="Email Address"
            aria-describedby="email address" />
        </div>
    </div> -->
</div>