  .page-content {
    padding-right: 70px;
    ::ng-deep img {
        max-width: 100% !important;
    }
  }
  .recommendation-section {
    h3 {
      color: #EA6B1E;
      font-size: 24px;
    }
  }