.page-content {
    // padding-right: 70px;    
    // ::ng-deep img {
    //     max-width: 100% !important;
    //     margin-top:10px;
    //     margin-bottom:30px;
    // }  
    * {
      font-family: "montserrat-regular";
    }  
    h2 {
      color: #EA6B1E;
      font-size: 34px;
      font-weight: 700;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 10px 20px 20px;
      background-position: left;
      text-align: center;
      margin-bottom: 25px;
      border-radius: 20px;
    }
    h2.heading_cover {
      padding: 70px 20px;
    }
  }
  .centered {
      position: relative;
    color: #EA6B1E;
    font-size: 1.5rem;
    font-weight: 700;
}
.rounded-lg {
  border-radius: 20px !important;
}
.client_block{
  // max-width: 300px;
  margin: auto;}
.pageBorder{
  border: 2px solid #fff;  
  border-radius: 25px;
  background-image: linear-gradient(180deg, rgba(174, 223, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
//  background-color:#rgb(203, 220, 247);
}
.border-right {
  border-right: 1px solid #fff !important;
}
.border-left {
  border-left: 1px solid #fff !important;
}
  .recommendation-section {
    h3 {
      color: #EA6B1E;
      font-size: 24px;
    }
  }
  .container{
    max-width:90%;
    text-align: justify;
  }
  .people-detail{    
    img{
//      width:300px;
//      height:400px
    }
    h2 {
      color:#EA6B1E;
      font-size: 45px;
      font-weight:700;
    }
    h5 {
      color:#224991;
      //#747474;
      font-size: 20px;
      margin-bottom:30px;
    }
  }
  .full-content{
    text-align: justify;
  //  margin-left: 50px;   
  }
  .modalFooter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
  //  border-top: 0px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
    button{
      background-color: #EA6B1E;
      color: white;
      padding: 5px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight :500;
    }
  }
  .social-horizontal{
    display:inline;
  }
  .fileDownload{
    font-weight: 700;
    margin-top: 25px;
    i {
      font-size: 25px; 
      margin-right: 10px;      
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    .fa, .far, .fas {
      font-family: "Font Awesome 5 Free";
    }
    a{
      color:#EA6B1E;
    }
  }
  .social-wrapper {  
    text-align: center;  
    margin-top: 20px;
    i {
      font-size: 25px; 
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    a{
      color:#000d42;
  }
  }

  .right-menu-card {
    h1{
        font-size: 1.6rem;
        font-family: "montserrat-regular";
        font-size: 900;
        color:#234A91;
    //    color: #224991;
    /*    margin-bottom: 25px;*/
    }
    h5{
    //    color: #666;  
        color:#EA6B1E;
        font-weight:600;
        font-family: "montserrat-regular";
        font-size: 0.9rem;
        margin-bottom: -5px;
    }
    p{
        color: #666;
        // width: 90%;
        font-family: "montserrat-regular";
        font-size: 1.1rem;
        line-height: 1.6;
        text-align: justify;
    }
    img{
        width: 90%;
        margin-bottom: 30px;
    }
    
    b{        
        background-color:#000d42;
        color: #fff;
        width: 90%;
        font-family: "montserrat-regular";
        font-size: 0.9rem;        
    }
    .tab {
        overflow: hidden;       
        background-color: #f1f1f1;
      }
      
      /* Style the buttons inside the tab */
      .tab b {
        background-color: #000d42;
        color: #fff;
        width: fit-content;
        font-weight:800;
        font-family: "montserrat-regular";
        float: left;
        border: 1px solid #fff;
        outline: none;
     /*   pointer-events: none;*/
        cursor: pointer;        
        transition: 0.3s;
        font-size: 13px;
        padding: 5px 5px 5px 5px;
      }
      .tab a {        
        color: #fff;
      }
}

.our_page {
  // padding: 0px 20px;
  h2 {
      color: #ea6b1e;
      font-size: 34px;
      font-weight: 700;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 50px 20px;
      background-position: left;
      text-align: center;
      margin-bottom: 45px;
      border-radius: 20px;
      font-family: "montserrat-regular";
  }     
}
markdown ::ng-deep  {
  font-size: 1.1em;
  h4 {
    color:#EA6B1E;
    font-weight: 900;
  }
  p{
    img {
      max-width: 100% !important;
      margin-top:10px;
      margin-bottom:30px;
    }
    font-size: 1.1rem;
  }
  img {
    max-width: 100%;
  } 
  a{
    word-break: break-word;
    font-size: 1.1rem;
  }
  table ul {
      list-style-type: none;
      padding: 15px;
      margin: 0;
  }
}
.right_fixed{
  border: 2px solid #fff;  
  border-radius: 20px;
  background-image: linear-gradient(180deg, rgba(174, 223, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
}
@media only screen and (max-width: 991px) {
  .right_fixed{
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .pad_400{
    padding-right: 430px;
    
  }
  .right_fixed{
    position: fixed;
      top: 110px;
      width: 380px;
      bottom: 10px;
      overflow: auto;
      right: 20px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-button {
  background: #ccc
}
::-webkit-scrollbar-track-piece {
  background: #888
}
::-webkit-scrollbar-thumb {
  background: #eee
}