<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div *ngIf="!isPageLoaded">
    <app-page-loader></app-page-loader>
</div>
<div class="icon-bar">
    <a href="https://www.linkedin.com/company/kavi-global/mycompany/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.youtube.com/channel/UCEMWF8WAJuM5k32gkxGopBQ" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a> 
    <a href="https://twitter.com/KG4Analytics" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a> 
    <a href="https://www.facebook.com/kaviglobal/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a> 
    </div>
<ng-template #mymodal let-modal>
    <div class="modal-header">     
      <h3 class="title" style="width:25%">Fill the Form</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row fillForm">                    
            <ng-container>
                <form [formGroup]="demoSection" (ngSubmit)="sendDemoRequest('Download Form')">                  
                    <div>    
                                                
                            <input class="formStyles" type="text" placeholder = "FirstName *" formControlName="firstName">                                  
                         
                            <input class="formStyles" type="text" placeholder = "LastName *"  formControlName="lastName">
                         
                            <input class="formStyles" type="text" placeholder = "Email *" formControlName="email">
                          
                            <input class="formStyles" type="number" placeholder = "Phone" formControlName="phone">
                        
                            <textarea class="formStyles" style="width:82%; height:60px" formControlName="message" placeholder="Message.." cols="45" rows="8" aria-required="true"></textarea>
                            
                    </div> 
                    <div *ngIf="!validateStatus && validateMessage.length > 0" style="padding-bottom: 20px;">
                        <span style="color: red; font-size:13px;">
                            {{validateMessage}}
                        </span>
                    </div>
                    <button id="submit" type="submit" >Send</button>                             
                   
                    <div *ngIf="validateStatus" style="padding-bottom: 20px;">
                        <span style="color: Green; font-size:13px;">
                            {{validateMessage}}
                        </span>
                    </div>
            
                  </form>
            </ng-container>
        </div>
    </div>
    <!--
    <div class="modal-footer">
      <button type="button" class="btn contactFormSend" (click)="modal.close('Save click')">Send</button>
    </div>-->
  </ng-template> 
<div class="details-content" *ngIf="isPageLoaded">
    <div class="" *ngIf="isDataLoaded && !isClient && !isPartner">
        <h2 class="full_heading_cover" *ngIf="pageType == 'pages'" style = "background-image:url('{{pageData[0]?.attributes?.CoverImage?.Media?.data?.attributes?.url}}')"><span>{{pageData[0]?.attributes?.Title}}</span></h2>
    <div class="container" [ngClass]="{'pad_400': pageType != 'pages'}" >
        <!-- <h2 class="heading_cover" *ngIf="pageType == 'pages' && pageData[0]?.attributes?.Slug != 'business-intelligence'" style = "background-image:url('{{pageData[0]?.attributes?.CoverImage?.Media?.data?.attributes?.url}}')"><span>{{pageData[0]?.attributes?.Title}}</span></h2> -->
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 border-right"> 
                <div class="page-content py-4" *ngIf="!isPeople">
                    <div *ngIf="pageType != 'pages'" class="centered">
                        <h2>{{pageData[0]?.attributes?.Title}}</h2>
                        <div class="pb-4" *ngIf="pageData[0]?.attributes?.CoverImage?.Media?.data?.attributes">
                            <img [src]=[pageData[0]?.attributes?.CoverImage?.Media?.data?.attributes.url]>
                        <!--    <div class="centered">{{pageData[0]?.attributes?.Title}}</div>-->
                        </div>
                    </div>
                    
                    <div *ngIf="pageFullContent">
                    <markdown  [data]="pageFullContent"> </markdown>
                    </div>

                    <div *ngIf="pageData[0]?.attributes?.ExternalLink">                   
                        <div *ngIf="!pageData[0]?.attributes?.NewsMedia && pageData[0]?.attributes?.ExternalLink.length >=1">
                            <div *ngFor="let link of pageData[0]?.attributes?.ExternalLink ">                          
                                <iframe allow="autoplay *; encrypted-media *; fullscreen *" 
                                frameborder="0" width="100%" height="500" 
                                [src]="link.Url | customPipe"
                                >
                                </iframe>
                            </div>
                        </div>
                        <div *ngIf="pageData[0]?.attributes?.NewsMedia && pageData[0]?.attributes?.ExternalLink.length >=1">
                            <h6>External Link:</h6>
                            <div *ngFor="let link of pageData[0]?.attributes?.ExternalLink"> 
                               <a [href]="link.Url | customPipe" target="blank">{{link.Url}}</a>
                            </div>
                        </div>
                        <div *ngIf="pageData[0]?.attributes?.ExternalLink.Url">
                            <div *ngIf="pageData[0]?.attributes?.ExternalLink?.Url.includes('vimeo')">
                                <iframe allow="autoplay *; encrypted-media *; fullscreen *" 
                                    frameborder="0" width="100%" height="500" style="margin-top:20px;margin-left:-70px"
                                    [src]="pageData[0]?.attributes?.ExternalLink.Url | customPipe">
                                </iframe>
                            </div>
                            <div *ngIf="!pageData[0]?.attributes?.ExternalLink?.Url.includes('vimeo')">
                                <iframe allow="autoplay *; encrypted-media *; fullscreen *" 
                                    frameborder="0" width="100%" height="500" style="margin-top:20px;"
                                    [src]="pageData[0]?.attributes?.ExternalLink.Url | customPipe">
                                </iframe>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="pageData[0]?.attributes">
                        <div *ngIf="pageData[0]?.attributes?.Media[0]?.Media?.data?.attributes?.mime && pageData[0]?.attributes?.Media[0]?.Media?.data?.attributes?.url">
                        <iframe style="margin-top:20px" allow="autoplay *; encrypted-media *; fullscreen *" 
                                frameborder="0" width="100%" height="500" 
                                [src]="'https://docs.google.com/viewer?url='+pageData[0]?.attributes?.Media[0].Media.data.attributes.url+'&embedded=true' | customPipe"
                            >
                            </iframe>
                            <div class="fileDownload" *ngIf="pageData[0]?.attributes?.Media[0]?.Media?.data?.attributes?.mime && pageData[0]?.attributes?.isDownloadable">                            
                                <a (click)="open(mymodal,pageData[0]?.attributes?.Media[0]?.Media?.data?.attributes?.url,pageData[0]?.attributes?.Slug,pageData[0]?.attributes?.Media[0]?.Media?.data?.attributes?.ext)">
                                    <i class="fa fa-download" aria-hidden="true"></i>Download File</a>                                
                            </div> 
                        </div>                       
                    </div> 
                    <!-- <div *ngIf="pageData[0]?.attributes?.Publisher">
                        <div *ngIf="pageData[0]?.attributes?.Media[0]?.Media?.data?.attributes?.mime && pageData[0]?.attributes?.Media[0]?.Media?.data?.attributes?.url">
                        <iframe style="margin-top:20px" allow="autoplay *; encrypted-media *; fullscreen *" 
                                frameborder="0" width="100%" height="500" 
                                [src]="pageData[0]?.attributes?.Media[0].Media.data.attributes.url+'#toolbar=0' | customPipe"
                            >
                            </iframe>
                            <div class="fileDownload" *ngIf="pageData[0]?.attributes?.Media[0]?.Media?.data?.attributes?.mime && pageData[0]?.attributes?.isDownloadable">                            
                              <!--  <a (click)="downloadFile(pageData[0]?.attributes?.Media[0].Media.data.attributes.url,pageData[0]?.attributes?.Slug)"   >
                                <i class="fa fa-download" aria-hidden="true"></i> Download File</a> --
                                <a (click)="open(mymodal,pageData[0]?.attributes?.Media[0].Media.data.attributes.url,pageData[0]?.attributes?.Slug)">
                                    <i class="fa fa-download" aria-hidden="true"></i>Download File</a>                                
                            </div> 
                        </div>                       
                    </div>                    -->
                </div>           
                <div class="people-detail" *ngIf="isPeople">
                    <div class="container rounded bg-white mt-5 mb-5" *ngIf="isPeople">
                    <div class="row">
                        <div class="col-md-4">                         
                            <div *ngIf="pageData?.CoverImage?.Media?.data?.attributes">
                                <img [src]=[pageData?.CoverImage?.Media?.data?.attributes.url]>
                            </div>
                            <div class="social-wrapper" *ngIf="pageData?.SocialMedia">  
                                <div class="social-horizontal" *ngFor="let media of pageData?.SocialMedia">                              
                                    <a *ngIf="media?.Type == 'LinkedIn'" href={{media?.Url}} target="_blank"><i class="fab fa-linkedin"></i></a>  
                                    <a *ngIf="media?.Type == 'Twitter'" href={{media?.Url}} target="_blank"><i class="fab fa-twitter-square"></i></a>
                                    <a *ngIf="media?.Type == 'Facebook'" href={{media?.Url}} target="_blank"><i class="fab fa-facebook-square"></i></a>
                                    <a *ngIf="media?.Type == 'YouTube'" href={{media?.Url}} target="_blank"><i class="fab fa-youtube"></i></a>
                                </div>
                                <div class="social-horizontal">
                                <a href="mailto:{{pageData.Email}}"><i class="fas fa-envelope mr-2"></i></a>
                                </div>
                            </div> 
                        </div>
                        <div class="col-md-8">
                            <h2>{{pageData.DisplayName}}</h2>
                            <h5>{{pageData.Title}}</h5> 
                            <div class="full-content">
                                <markdown [data]="pageFullContent"> </markdown>     
                            </div>
                        </div>
                    </div>
                </div>
                    
                    <!--
                    <h2>{{pageData.DisplayName}}</h2>
                    <h5>{{pageData.Title}}</h5>                   
                     <div class="social-wrapper" *ngIf="pageData?.SocialMedia.length >= 1">  
                         <div class="social-horizontal" *ngFor="let media of pageData?.SocialMedia">                              
                             <a *ngIf="media?.Type == 'LinkedIn'" href={{media?.Url}} target="_blank"><i class="fab fa-linkedin"></i></a>  
                             <a *ngIf="media?.Type == 'Twitter'" href={{media?.Url}} target="_blank"><i class="fab fa-twitter-square"></i></a>
                             <a *ngIf="media?.Type == 'Facebook'" href={{media?.Url}} target="_blank"><i class="fab fa-facebook-square"></i></a>
                             <a *ngIf="media?.Type == 'YouTube'" href={{media?.Url}} target="_blank"><i class="fab fa-youtube"></i></a>
                         </div>
                         <div class="social-horizontal">
                         <a href="mailto:{{pageData.Email}}"><i class="fas fa-envelope mr-2"></i></a>
                         </div>
                     </div> 
                    <div *ngIf="pageData?.CoverImage?.Media?.data?.attributes">
                        <img [src]=[pageData?.CoverImage?.Media?.data?.attributes.url]>
                    </div>
                    <div class="full-content">
                    <markdown [data]="pageFullContent"> </markdown>
                    </div> -->
                </div>
                <!-- <div *ngIf="rightPageRelatedData.length > 0">
                    <div *ngFor="let relatedData of rightPageRelatedData">
                        <div class="">
                            <h3 style="margin-top:20px;color: #f26000;">Related {{relatedData[0].attributes?.relatedMeta?.Label}}</h3>
                        </div>
                        <div class="py-3">
                                <div class="pb-5" *ngFor="let item of relatedData;let i = index">
                                    <div class="right-menu-card" >
                                        <h1>{{item.attributes?.Title}}</h1>
                                        <div class="pb-3">
                                            <h5 *ngIf="item.attributes?.Authors?.data[0]?.attributes && item.attributes?.Authors?.data[0]?.length !== 0">
                                                by {{item.attributes?.Authors?.data[0]?.attributes?.DisplayName}} |
                                                {{ item.attributes?.Authors?.data[0]?.attributes?.publishedAt | date:'MMMM d, yyyy' }}
                                            </h5>
                                        </div>
                                        <img *ngIf="item?.attributes?.Thumbnail?.Media?.data?.attributes?.url" src={{item?.attributes?.Thumbnail?.Media?.data?.attributes?.url}} alt="image" />    
                                        <p>{{item.attributes?.PreviewContent}}</p>
                                    </div> 
                                    <a routerLink="{{'/'+ relatedData[0].attributes?.menuType +'/'+ item?.attributes?.Slug}}" class="read-more">Read
                                        More... {{'/'+ relatedData[0].attributes?.menuType +'/'+ item?.attributes?.Slug}}</a> 
                                </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="right_fixed" *ngIf="pageType != 'pages'">
            <!--    <app-right-menu-sidebar [data]="pageData"></app-right-menu-sidebar>-->
                <div *ngIf="!isPeople">
                    <app-detail-viewer-right-pane  [authorDetails]="authors"
                    [tags]="tags" [publishDate] ="publishDate"
                    [externalLink] = "externalLink"
                    [newsMedia] = "newsMedia"
                    [podcasts] = "pageData[0]?.attributes?.PodcastPlatforms"
                    [clients] = "pageData[0]?.attributes?.Client"
                    [conference] = "pageData[0]?.attributes?.Conference"
                    [publisher] = "pageData[0]?.attributes?.Publisher"
                    [moduleName]="pageType" 
                    ></app-detail-viewer-right-pane> 
                </div>  
                <!-- <div *ngIf="isPeople || (pageType == 'publications' || pageType == 'presentations') "> -->
                <div *ngIf="isPeople">
                    <app-detail-viewer-right-pane
                        [authorPost]="authorPost"
                        [moduleName]="pageType"
                    ></app-detail-viewer-right-pane>                   
                </div> 
                <!-- <div class="pt-5" *ngIf="pageType == 'pages'">
                    <app-right-menu-sidebar [data1]="rightPageData"
                    [module]="pageType"
                    [metaViewer]="listMetaData"
                    ></app-right-menu-sidebar>
                </div> -->
            </div>       
        </div>
        <div style="width:100%; height:2px; background: #dee2e6 ;margin-bottom:30px">
        </div>
        <div class="demo-section">
            <div class="container">
                <h3>Contact Us</h3>
                <div class="pt-4">
                    <div>                    
                        <ng-container>
                            <form [formGroup]="demoSection" (ngSubmit)="sendDemoRequest('Contact Us')">
                                <div class="row">       
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <input class="formStyles" type="text" placeholder = "Name *" formControlName="firstName">                                  
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <input class="formStyles" type="text" placeholder = "LastName *"  formControlName="lastName">
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <input class="formStyles" type="text" placeholder = "Email *" formControlName="email">
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <input class="formStyles" type="number" placeholder = "Phone" formControlName="phone">
                                        </div>
                                        <div class="col-md-9 col-sm-12 col-xs-12">
                                            <textarea class="formStyles" style="height:60px" formControlName="message" placeholder="Message.." cols="45" rows="8" aria-required="true"></textarea>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <button class="schedule_submit" id="submit" type="submit">Send</button>
                                        </div>
                                </div> 
                                <div *ngIf="!validateStatus && validateMessage.length > 0" style="padding-bottom: 20px;">
                                    <span style="color: red; font-size:18px;">
                                        {{validateMessage}}
                                    </span>
                                </div>
                                                             
                               
                                <div *ngIf="validateStatus" style="padding-bottom: 20px;">
                                    <span style="color: Green; font-size:18px;">
                                        {{validateMessage}}
                                    </span>
                                </div>
                        
                              </form>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="recommendation-section" *ngIf="rightPageRelatedData.length > 0">
            <div *ngFor="let relatedData of rightPageRelatedData">
                <div style="width:100%; height:2px; background: #dee2e6 ;margin-bottom:30px">
                </div>
                <div>
                    <h3 style="margin-top:20px;color: #f26000;">{{relatedData[0].attributes?.relatedMeta?.Label}}</h3>                    
                </div>
                <div class="py-3">
                    <div class="row">
                        <ng-container *ngFor="let item of relatedData;let i = index">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                            <div class="pb-4" *ngIf = "item.attributes.Thumbnail">                       
                                <app-card-layout [image] = "item?.attributes?.Thumbnail?.Media?.data?.attributes?.url"
                                        [title]="item.attributes?.Title" [description]="item.attributes?.PreviewContent"
                                        [moduleName]="relatedData[0].attributes?.relatedMeta?.TypeFilter" [hyperlinkText]="'Read More'"
                                        [slug] = "item.attributes?.Slug"
                                        [type]="'recommendation-card-layout'">
                                    </app-card-layout>
                                </div>
                                <div class="pb-4" *ngIf = "!item.attributes?.Thumbnail">                    
                                    <app-card-layout 
                                        [title]="item.attributes?.Title" [description]="item.attributes?.PreviewContent"
                                        [moduleName]="relatedData[0].attributes?.relatedMeta?.TypeFilter" [hyperlinkText]="'Read More'"
                                        [slug] = "item.attributes?.Slug"
                                        [type]="'recommendation-card-layout'">
                                    </app-card-layout>    
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="recommendation-section" *ngIf="recommendationMetaData && recommendationMetaData.MaxCount && recommendationData && recommendationData.length > 0">
            <div style="width:100%; height:2px; background: #dee2e6 ;margin-bottom:30px">
            </div>
            <div class="">
                <h3 style="margin-top:20px">{{recommendationMetaData.Label}}</h3>
            </div>
            
            <div class="py-3">
                <div class="row">
                    <ng-container *ngFor="let item of recommendationData;let i = index">
                        <div class="col-6 col-md-4" *ngIf = "i < recommendationMetaData.MaxCount">
                           <div class="pb-4" *ngIf = "item.attributes.Thumbnail">                          
                               <app-card-layout [image] = "item?.attributes?.Thumbnail?.Media?.data?.attributes?.url"
                                    [title]="item.attributes.Title" [description]="item.attributes.PreviewContent"
                                    [moduleName]="pageType" [hyperlinkText]="'Read More'"
                                    [slug] = "item.attributes.Slug"
                                    [type]="'recommendation-card-layout'">
                                </app-card-layout>
                            </div>
                            <div class="pb-4" *ngIf = "!item.attributes.Thumbnail">                                
                                <app-card-layout 
                                                [title]="item.attributes.Title" [description]="item.attributes.PreviewContent"
                                                [moduleName]="pageType" [hyperlinkText]="'Read More'"
                                                [slug] = "item.attributes.Slug"
                                                [type]="'recommendation-card-layout'">
                                            </app-card-layout>    
                            </div>
<!--                            <div style="width:100%; height:2px; background: #dee2e6 ;margin-bottom:30px">
                            </div>-->
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    <div>
<!--          cccc {{this.viewerData[0] | json}}-->
        </div>

    </div>
</div>
<div *ngIf="isDataLoaded && (isClient || isPartner)" style="margin:0px auto;padding: 0px 0px 30px;">
    <div class="mb-5" *ngIf="isClient"><h2 class="full_heading_cover" style = "background-image:url('https://kavistrapiappstorage.blob.core.windows.net/strapi-uploads/assets/Our_Clients_c3172330e9.png?updated_at=2023-07-23T11:01:22.840Z')"><span>Our Clients</span></h2></div>
    <div class="mb-5" *ngIf="isPartner"><h2 class="full_heading_cover" style = "background-image:url('https://kavistrapiappstorage.blob.core.windows.net/strapi-uploads/assets/Our_Partner_b53404e808.png?updated_at=2023-07-23T11:01:23.842Z')"><span>Our Partners</span></h2></div>
    <div class="container">
    <div class="row" *ngIf="isClient">          
        <div *ngFor="let item of pageData; let i = index" class="col-lg-3 col-md-4 col-sm-6 col-xs-12"> 
            <div class="pb-5" style="min-height: 70px;">
               <div class="flex flex-wrap -m-5">  
                    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col">
                    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col client_block">
                        <app-card-layout 
                        [image] = "item?.attributes?.Logo?.Media?.data?.attributes?.url"
                        [title]="item?.attributes?.Name"                        
                        [description]="item?.attributes?.Industry"
                        [url]="item?.attributes?.Url"                        
                        [type]="'client-card-layout'"
                        >
                        </app-card-layout>

                    </div>   
                     
                    </div> 
                </div>
            </div>
        </div>  
          
    </div>
    <div *ngIf="isPartner">  
        <div *ngFor="let key of partnerKeys; let i = index">  
            <h4 style="text-align: center;margin-bottom: 40px;">Our {{key}} Partners</h4>
            <div *ngFor="let item1 of partnerValues; let j = index"> 
                <div *ngIf = "i == j" class="row">      
                    <div *ngFor="let item of item1" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">           
                        <div class="pb-5" style="min-height: 70px;">
                        <div class="flex flex-wrap -m-5">
                                <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col">
                                <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col client_block">
                   
                                    <app-card-layout 
                                    [image] = "item?.attributes?.Logo?.Media?.data?.attributes?.url"
                                    [title]="item?.attributes?.Name"                        
                                    [description]="item?.attributes?.Industry"
                                    [url]="item?.attributes?.Url"                        
                                    [type]="'client-card-layout'"
                                    >
                                    </app-card-layout>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<!--    <div class="col-12 col-md-4 col-lg-3 border-left">
        <div class="pt-5">
        <app-right-menu-sidebar [data]=""></app-right-menu-sidebar>
    </div>-->
</div>   
