<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="right-menu-card">
    <div class="mtooltip" *ngIf="title"><h1>{{title}}</h1><span class="mtooltiptext">{{title}}</span></div>
    <div>
    <h5 *ngIf="authorDetails && authorDetails.length !== 0">
        by {{authorDetails[0].attributes.DisplayName}} |
        {{ date | date:'MMMM d, yyyy' }}
    </h5>
    </div>
    <img *ngIf="cardImage" src={{cardImage}} alt="image" />    
    <p *ngIf="cardContent">{{cardContent}}</p>
</div>

