* {
  font-family: "montserrat-regular";
}  
.page-right-menu-section {
//  padding: 50px 0 50px 30px;
  border: 2px solid #fff;  
  border-radius: 25px;
  background-image: linear-gradient(180deg, rgba(174, 223, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
//  background-color:#rgb(203, 220, 247);

  padding-top:10px;
  .title {
    font-family: "montserrat-regular";
    font-size: 1.2rem;
    color: #666;
  }
  h5 {
    font-family: "montserrat-regular";
    font-size: 1.0rem;
    color: #224991;
  }
  ul {
//    list-style-type: square;
//    padding: 0px 0px 0px 5px;

  }
  
  input {
    outline: none;
    border: 1px solid #ddd;
    height: 40px;
  }
  ::placeholder {
    text-align: center;
    color: #000;
  }
}
ngb-datepicker {
  border: none;
}

/*
.tags{
li > a {
  font-family: "montserrat-regular";
  font-size: 0.80rem;
  font-weight : 600;
  padding-bottom: 8px;
  color: #EA6B1E;
  cursor: pointer;
  text-decoration: none;
  line-height: 2;
}
}*/

.tab {
  overflow: hidden;       
//  background-color: #f1f1f1;
//  display: inline-flex;
  margin-top:3px;
  margin-left:10px;
  font-family: "montserrat-regular";
}  
/* Style the buttons inside the tab */
.tab a {
  background-color: #000d42;
  color: #fff;
  width: fit-content;
  font-weight:800;
  font-family: "montserrat-regular";
  float: left;
  border: 5px solid; 
  border-radius:15px;
  outline: none;
  cursor: pointer;        
  transition: 0.3s;
  font-size: 13px;
  padding: 5px 5px 5px 5px;
}
.dimensionTab{
  overflow: hidden;      
//  background-color: #f1f1f1; 
  margin-top: 10px;
//  background-color: #f1f1f1;
  font-family: "montserrat-regular";
  h5{   
    color: #EA6B1E;
    font-size: 20px;
    font-weight:800;
    margin-top: 5px;
    margin-Left: 15px;
  }
}
p{
  margin-top:20px;
  text-align:Left;
//  background-color: #f1f1f1;
  a{
    color:#EA6B1E;
    font-weight:700;
    margin-left:15px;
//    font-size:14px;
  }
}




