* {
  font-family: "montserrat-regular";
}  
.page-right-menu-section {
  padding:10px 15px;
  .title {
    font-family: "montserrat-regular";
    font-size: 1.2rem;
    color: #000000;
  }
  h5 {
    font-family: "montserrat-regular";
    font-size: 1.0rem;
    color: #234990;
  }
  
  input {
    outline: none;
    border: 1px solid #ddd;
    height: 40px;
  }
  ::placeholder {
    text-align: center;
    color: #000;
  }
}
ngb-datepicker {
  border: none;
}

.tab {
  overflow: hidden;
  margin-top:3px;
  margin-left:10px;
  font-family: "montserrat-regular";
}  
/* Style the buttons inside the tab */
.tab a {
  background-color: #0c2939;
  color: #fff;
  width: fit-content;
  font-weight:800;
  font-family: "montserrat-regular";
  float: left; 
  border-radius:7px;
  outline: none;
  cursor: pointer;        
  transition: 0.3s;
  font-size: 13px;
  padding: 5px 10px;
  margin: 0px 8px 10px 0px;
}
.dimensionTab{
  overflow: hidden;
  margin-top: 10px;
  font-family: "montserrat-regular";
  h5{   
    color: #f26000;
    font-size: 1.1rem;
    font-weight:800;
    margin:5px 0px 20px 15px;
  }
}
p{
  margin-top:20px;
  text-align:Left;
  a{
    color:#f26000;
    font-weight:700;
    margin-left:15px;
  }
}
@media only screen and (max-width: 991px) {
  .page-right-section{
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .page-right-section{
    position: fixed;
      top: 110px;
      width: 380px;
      bottom: 10px;
      overflow: auto;
      right: 20px;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-button {
  background: #ccc
}
::-webkit-scrollbar-track-piece {
  background: #888
}
::-webkit-scrollbar-thumb {
  background: #eee
}​
{}

