<div class="page-right-section">
    <div class="page-right-menu-section">
        <!--   <h5 class="title">Subscribe</h5>-->
        <!--               <app-subscribe-layout></app-subscribe-layout>-->
        <!-- 
<div *ngFor="let item of data1[0].keys(),let i=index">                                            
    <h5>{{item}}</h5>
    <div *ngFor="let itemValue of data1[0].values()">{{itemValue}}
        <div *ngFor="let subItem of itemValue">
        <h6>{{subItem.attributes.DisplayName | json}}</h6>
    </div>
</div>   -->
        <div *ngFor="let item of TagKeys; let i = index">
            <div class="dimensionTab">
                <h5>{{item}}</h5>
                <div *ngFor="let item1 of tagValues; let j = index">
                    <div *ngIf="i == j" class="tab">
                        <div *ngFor="let subitem of item1; let k = index">
                            <a routerLink="{{'/SearchTag='+subitem.attributes.Slug}}">{{subitem.attributes.DisplayName}}</a>
                        </div>
                        
                    </div>
                </div>
                </div>
                <!--        <div *ngFor="let itemValue of data1[0].values();let j=index"> 
                        <div*ngIf="i == j">
                        <div class="tab">{{itemValue | json}}
                            <div *ngFor="let subItem of itemValue;;let k=index">
                                <div *ngIf="(!showAllTags) && (k < metaViewer.TagMaxCount)">
                                    <a routerLink="{{'/SearchTag='+subItem.attributes.Slug}}">{{subItem.attributes.DisplayName}}</a>    
                                </div>  
                                <div *ngIf="(showAllTags)"> 
                                    <div>                              
                                        <a routerLink="{{'/SearchTag='+subItem.attributes.Slug}}">{{subItem.attributes.DisplayName}}</a>    
                                    </div>  
                                </div>                      
                                </div>
                        </div>
                    </div>
                </div>
            -->
            </div>
            <div *ngIf="!showAllTags" (click)="showAllTagsForDimension()">
                <p><a>Read More...</a></p>
            </div>
            <!--
            <div class="mt-5">
                <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
                </div>-->
        </div>
        <!--
            <div style = "margin-left:-10px;margin-top:20px">
                <iframe width="314" height="300" allow="microphone;" 
                src="https://console.dialogflow.com/api-client/demo/embedded/d840b880-0e4a-4922-a8dc-9399bf28ada5">
                </iframe>
            </div>-->
        <!--
            <div style = "margin-left:-10px;margin-top:20px">
                <df-messenger
                    intent="WELCOME"
                    chat-title="KaviAgent"
                    agent-id="d840b880-0e4a-4922-a8dc-9399bf28ada5"
                    language-code="en"
                >
                </df-messenger>
            </div>-->
    </div>