            <div class="page-right-menu-section">
             <!--   <h5 class="title">Subscribe</h5>-->
             
                <app-subscribe-layout></app-subscribe-layout>
                <div *ngIf="data[0]?.length > 0">
                    <div>
                    <!--<h5 class="mt-5">Recent Posts</h5> -->
                    <h5 class="mt-5">
                    <b>Recent Posts </b> 
    <!--               <i style="padding-left: 60px;" class="mt-5"
                    (click)="backClicked()">Back</i>-->
                    </h5>
                    </div>
                    <ul class="mb-5">
                        <li *ngFor="let item of data[0]">
                            <a routerLink="{{'/'+ item?.attributes?.Type + '/'+item?.attributes?.Slug}}" >{{item.attributes.Title}}</a>
                        </li>
                    </ul>
                </div>
                <div *ngIf="data[0]?.attributes?.Tags?.data?.length > 0">
                    <div>                    
                        <h5 class="mt-5">
                        <b>Tags </b> 
                        </h5>
                    </div>
                    <ul class="tags">
                    <!--   <li><a >Analytics</a></li>-->
                        <li class="tags" *ngFor="let item of data[0].attributes?.Tags?.data">
                            <a routerLink="{{'/SearchTag='+ item?.attributes?.Name}}" >{{item.attributes.DisplayName}}</a>
                        </li>
                    </ul>   
                </div>
 <!--               <input type="search" placeholder="Search" autocomplete="off" />
                <h5 class="mt-3">Categories</h5>
                <ul>
                    <li><a >Analytics</a></li>
                    <li><a >blog</a></li>
                    <li><a>Business Intelligence</a></li>
                    <li><a>Data Management</a></li>
                    <li><a>Data Prep</a></li>
                    <li><a>Jumpstart</a></li>
                    <li><a>Machine Learning</a></li>
                    <li><a>MongoDB</a></li>
                    <li><a>Project Management</a></li>
                    <li><a>SAS Success Stories</a></li>
                    <li><a>Strategy</a></li>
                    <li><a>testimonial slider</a></li>
                </ul>
            -->               

            <div class="mt-5">
                    <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
                </div>
            </div>
